/* VARIABLES */
:root {
  --color-primary: #147979;
  --color-border: #dee2e6;
  --color-text: #333;
  --border-radius: 0.25rem;
}

/* GENERAL */
* {
    transition: background-color 0.5s ease-out !important;
}

::-moz-selection {
  background-color: var(--color-primary);
  color: #fff;
}

::selection {
  background-color: var(--color-primary);
  color: #fff;
}

html,
body {
  margin: 0 auto;
  color: var(--color-text);
  font-size: 16px;
  line-height: 1.5;
  font-family: "Nunito Sans", sans-serif;
}

body {

  padding: 3rem 1rem;
}

img {
  border-radius: var(--border-radius);
  max-width: 100%;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

a:focus,
a:hover {
  text-decoration: underline;
  color: var(--color-primary);
}


details[open] summary {
  font-weight: bold;
}

details[open] p {
  margin: 0 0 0.5rem 1rem;
  padding-top: 0;
}

hr {
  margin: 3rem auto;
  border: 0;
  overflow: visible;
  border: 0;
  content: "";
  background-color: var(--color-border);
  display: block;
  position: relative;
}

hr,
hr:before,
hr:after {
  background-color: var(--color-border);
  content: "";
  height: 7px;
  width: 7px;
  border-radius: 50%;
}

hr:before,
hr:after {
  position: absolute;
}

hr:before {
  left: -32px;
}

hr:after {
  left: 32px;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.site-header {
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  text-align: center;
  border-bottom: 1px solid var(----color-border);
}

.logo h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.logo img {
  width: 80px;
}

.logo span {
  font-size: 1rem;
  display: block;
  margin: 2rem 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav a {
  padding: 0 0.5rem;
}

section {
  padding-bottom: 8rem;
  min-height: calc(100vh - 200px);
}

.info {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container-talk main a,
.container-about main a {
  text-decoration: underline;
}

.container-talk .social {
  margin-top: 1rem;
}

main p a[href*="https"]:before {
  content: "";
  background: url(../img/external.svg) center no-repeat;
  background-size: contain;
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 0.5rem;
}

.info,
.picture {
  padding: 2rem 0;
}

.section-name {
  position: relative;
  color: --var(color-border);
  padding-bottom: 2rem;
}

.picture {
  position: relative;
}

.picture img {
  width: 100%;
  border-radius: 100%;
}

.picture img:hover {
  box-shadow: 0 0 2.5px 10px var(--color-primary);
}

.section-title span {
  position: relative;
  z-index: 1;
  display: inline-block;
}

.section-title span:after {
  content: " ";
  position: absolute;
  display: block;
  z-index: -1;
  opacity: 0.2;
  height: 1.3rem;
  width: 95%;
  bottom: 10px;
  left: 0;
}

.section-title span:first-of-type:after {
  background: var(--color-primary);
}

.section-title,
.section-title h2 * {
  font-weight: 600;
  font-size: 2rem;
}

.info p {
  margin: 2.5rem 0 1rem;
}

.info a {
  font-weight: bold;
}

/* Social */
.social {
  margin-top: 10rem;
  padding-left: 0;
}

.social a {
  display: inline-block;
  margin-right: 2rem;
}

.social a img {
  width: 24px;
  height: 24px;
}

.social a:first-of-type img {
  width: 75px;
}


/* Animation */
@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, -5px, 0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

/* Footer */
footer {
  text-align: center;
  font-size: 0.875em;
}

footer p:first-child {
  margin-bottom: 1.5rem;
}

/* Footer */
.top {
  text-align: center;
  padding: 0 1rem 5rem;
  display: block;
}

.top img {
  display: block;
  width: 1rem;
  margin: 0 auto;
}

.top:hover img {
  animation: bounce infinite 1s alternate linear;
}

.love {
  animation: pulse 1s infinite alternate;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.post-container span {
  display: block;
  font-size: 0.85em;
  opacity: 0.5;
}

.post-list {
  padding: 4rem 0;
  display: grid;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.post-picture {
  max-width: 100%;
  width: 100%;
}

.post-title {
  font-size: 1.25rem;
  margin: 1rem 0 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.post-description {
  color: #333;
  ;
  font-size: medium;
}

.post-picture {
  width: 100%;
  height: 20rem;
  display: block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  outline: none;
  position: relative;
  border-radius: var(--border-radius);
}

.post-picture:before,
.post-picture:after {
  display: block;
  border-radius: var(--border-radius);
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  top: 0;
  opacity: 0;
}

.post-picture:hover:after {
  background: #000;
  opacity: 0.7;
  transition: opacity 0.15s linear;
  z-index: 1;
}

.post-picture:hover:before {
  z-index: 2;
  background-size: 150px auto !important;
  opacity: 1;
  transition: opacity 0.25s linear;
}

.blog .post-picture:hover:before {
  background: url(../img/social/logo-medium.svg) 20px 20px no-repeat;
}

.portfolio .post-picture:hover:before {
  background: url(../img/social/logo-behance.svg) 20px 20px no-repeat;
}

.container-about section {
  min-height: auto;
}

.container-about .section-title {
  border-bottom: 1px solid var(--color-border);
}

.about-list {
  padding: 0;
  list-style: none;
}

.about-list li {
  display: flex;
}

.career-logo {
  /* min-width: calc(100px + 2rem); */
  margin-bottom: 1rem;
}

.career-logo {
  padding: 0 1rem;
  width: 200px;
}

.career-logo img {
  padding: 0 1rem;
  width: 100px;
  height: auto;

  display: block;
  margin: 0 auto;
}

.career-description {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--color-border);
}

.career-activity,
.career-company {
  margin: 0;
  font-size: 1rem;
}

.career-company {
  font-weight: normal;
}

.career-date {
  margin-bottom: 2rem;
  font-size: 0.875em;
}

.career-detail {
  width: 100%;
}

.about-content figure {
  margin: 0;
}

.column-nav nav {
  list-style: none;
  padding-left: 0;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  flex-direction: column;
}

.column-nav nav a {
  border-bottom: 1px solid var(--color-border);
  margin: 0;
  padding: 0.5rem 1rem;
  display: block;
  text-decoration: none;
  width: calc(100% - 2rem);
}

.column-nav ul a:last-child {
  padding-bottom: 0;
  border-bottom-color: transparent;
}

.column-nav ul a:hover {
  border: 1px solid var(--color-primary);
  background: var(--color-primary);
}

.column-nav ul a:hover {
  color: #fff;
  text-decoration: none;
}

.column-nav ul a:hover:first-child {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.column-nav ul a:hover:last-child {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.column-nav>div {
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
}

.column-nav img {
  width: 100%;
  transform: rotateY(180deg);
  border-radius: 100%;
}

.column-nav img:hover {
  box-shadow: 0 0 2.5px 10px var(--color-primary);
}


.column-container {
  display: flex;
  flex-direction: column;
}

.column-nav,
.column-content {
  width: 100%;
  padding: 0;
}

.column-nav {
  padding-bottom: 2rem;
  position: relative;
}

/* 404 */
.notfound-container {
  text-align: center;
}

.notfound-container img {
  max-width: 100%;
  height: auto;
}

.notfound-container p {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.notfound-container a {
  display: inline-block;
  border-radius: 0.25rem;
  font-size: 16px;
  padding: 16px 32px;
  background: var(--color-primary);
  border: 2px solid var(--color-primary);
  color: #fff !important;
}

.notfound-container a:hover,
.notfound-container a:focus {
  background: #fff;
  color: var(--color-primary) !important;
}

.notfound-container a:hover:after,
.notfound-container a:focus:after {
  display: none;
}

.notfound-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

/* MEDIA QUERYS */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .logo span {
    margin: 0;
  }

  .logo img {
    margin-right: 2rem;
  }

  .logo {
    display: flex;
    align-items: flex-end;
    text-align: left;
  }

  .intro,
  .info,
  .site-header {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }

  .info {
    order: 1;
    flex-direction: column;
    justify-content: center;
    padding-right: 3rem !important;
    align-items: flex-start;
    text-align: left;
  }

  .picture {
    order: 2;
  }

  .info,
  .picture {
    width: 50%;
  }

  .post-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .column-container {
    flex-direction: row;
  }

  .column-content {
    width: calc(100% - 35% - 2.5rem);
  }

  .column-nav {
    position: relative;
    width: 35%;
    padding-right: 2.5rem;
  }

  .section-title:first-of-type {
    margin-top: 0;
  }
}

.container-archive ul {
  list-style-type: none;
  padding-left: 0;
}

.container-archive ul li {
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}
.container-archive ul li:last-child {
  border-bottom: 0;
}
