---
layout: default
title: Página inicial
---

<section class="section-portfolio">
    <header class="section-header">
        <h2 class="section-name">
            <a title="Visualize todos os meus trabalhos" href="{{site.url}}/portfolio">
                Portfólio
            </a>
        </h2>
        <p class="section-description">
            Confira os trabalhos mais recentes
        </p>
    </header>
    <div class="portfolio-container">
        {% for post in site.categories.portfolio limit:3%}
        {% include portfolio/portfolio-list.html %}
        {% endfor %}
    </div>
</section>
<section class="section-blog">
    <header class="section-header">
        <h2 class="section-name">
            <a title="Ir para a página do meu blog" href="{{site.url}}/blog">
                Blog
            </a>
        </h2>
        <p class="section-description">
            Impressões extremamente pessoais do dia-a-dia de um Designer apaixonado por gibis, folk e drama.
        </p>
    </header>
    <div class="post-container">
        <ul>
            {% for post in site.categories.blog limit:6 %}
            {% include post/post-list.html %}
            {% endfor %}
        </ul>
    </div>
</section>
<script
    type="application/ld+json">{ "@context": "http://schema.org/", "@type": "Organization", "name": "Agência Sumô", "address": { "@type": "PostalAddress", "streetAddress": "Jardim Atlântico", "addressLocality": "Olinda", "addressRegion": "Pernambuco", "postalCode": "50050-120" }, "telephone": "+5581986496080" }</script>