---
layout: default
title: Página inicial
---

<section class="section-about">
    <div class="section-about-info">
        <h2>{{site.cta-header}}</h2>
        <p>{{site.cta-description}}</p>
        <a class="section-link" title="Confira todas as publicações" href="{{site.url}}/sobre">{{site.cta-link}}</a>
    </div>
    <figure class="section-about-picture">
        <img title="Wagner Beethoven" alt="Wagner tem pele branca, possui cabelos e barba curtas e pretas, usa óculos, está olhando para camera e sorri, veste camisa azul" src='{{site.url}}/img/page/avatar.jpg' />
    </figure>
</section>
<section class="section-portfolio">
    <header class="header-section">
        <h2 class="section-title">
            Portfólio
        </h2>
        <p class="section-description">
            Confira os meus trabalhos mais recentes
            <a class="section-link" title="Visualize todos os meus trabalhos" href="{{site.url}}/portfolio">Portfólio</a>
        </p>
    </header>
    <div class="portfolio-container">
        {% for post in site.categories.portfolio limit:3%}
        {% include post-list.html %}
        {% endfor %}
    </div>
</section>

<section class="section-blog">
    <header class="header-section">
        <h2 class="section-title">Blog</h2>
        <p class="section-description">
            Meu dia-a-dia como designer.
            <a class="section-link" title="Ir para a página do meu blog" href="{{site.url}}/blog">Publicações</a>
        </p>
    </header>
    <div class="row">
        {% for post in site.categories.blog limit:6 %}
        {% include post-list.html %}
        {% endfor %}
    </div>
</section>
<script type="application/ld+json">
    {
        "@context": "http://schema.org/",
        "@type": "Organization",
        "name": "Agência Sumô",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "Jardim Atlântico",
            "addressLocality": "Olinda",
            "addressRegion": "Pernambuco",
            "postalCode": "50050-120"
        },
        "telephone": "+5581986496080"
    }
</script>