::root {
    --color-primary: #147979;
    --color-github: #333;
}

body {
    padding: 5rem 1rem;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

html[data-bs-theme=light] {
    mark {
        background: #005757;
    }
}

html[data-bs-theme=dark] {
    mark {
        background: #FFE500
    }
}

mark {
    padding: 0;
}

main {
    margin: 3.25rem 0 5.25rem;

}

a {
    color: var(--bs-body-color);
}

a[href*="https"]:after {
    content: " ↗";
    text-decoration: none;
    font-size: 85%;
}

b, strong {
    font-weight: 600;
}

.page-title {
    font-size: 3rem;
    margin: 3.25rem 0;
    font-weight: 600;
}

.page-title mark {
    color: var(--bs-body-bg);
}

.social {
    margin: 2.75rem 0 4.625rem;
}

.social a {
    display: block;
    height: 2rem;
    width: 2rem;
}

.social a img {
    height: 24px;
    width: 100%;
    display: block;
}

.social-linkedin a {
    width: 5rem;
}

.section-title {
    font-weight: 600;
    font-size: 2rem;
    margin: 4.625rem 0 2.25rem;
}

.podcast p:last-of-type {
    font-size: small;
}

.podcast iframe {
    border-radius: 1rem;
}

.career-list p {
    font-size: 0.875rem;
}

footer {
    padding-top: 6.875rem;
    font-size: .825rem;
}

.podcast a:after,
.a11y-webring-club a:after {
    content: "";
}

.badge {
    font-weight: 400;
}

.badge {
    text-transform: lowercase;
    color: var(--bs-black);
}

.badge-aula {
    background: var(--bs-orange);
}

.badge-evento {
    background: var(--bs-teal);
}

.badge-ux-collective {
    background: #01ccff
}

;

/* 404 */
#error {
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.fof {
    display: table-cell;
    vertical-align: middle;
}

.fof h1 {
    font-size: 50px;
    display: inline-block;
    padding-right: 12px;
    animation: type .5s alternate infinite;
}

@keyframes type {
    from {
        box-shadow: inset -3px 0px 0px #888;
    }

    to {
        box-shadow: inset -3px 0px 0px transparent;
    }
}