<div class="site-logo">
    <a href="{{site.url}}">
        <figure  title="{{page.title | strip_html }}">
            <img title="Olá, sou Wagner 😉" src="{{site.url}}/{{site.avatar}}" alt="{{site.alt}}">
        </figure>
    </a>

    <a title="Traduzir o site / Translate site / Traduire le site / Traducir sitio / Website übersetzen / Traduci sito / サイトを翻訳 / 翻译网站"
        data-bs-toggle="modal" data-bs-target="#translateModal" tabindex="0" role="button"
        class="translate">
        <span class="bi bi-translate"></span>
        <span class="visually-hidden">Traduzir o site / Translate site / Traduire le site / Traducir sitio / Website
            übersetzen / Traduci sito / サイトを翻訳 / 翻译网站</span>
    </a>
</div>