<aside class="aside-portfolio">
    <ul class="aside-areas">
        <li>Campos de criação:</li>
        {% if post %}{% assign areas = post.areas %}{% else %}{% assign areas = page.areas %}{% endif %}{% for areas in areas %}
        <li>{{areas }}</li>{% unless forloop.last %}{% endunless %}{% endfor %}{% for tag in page.areas %}{% endfor %}
    </ul>
    <ul class="aside-tools">
        <li>Ferramentas utilzadas:</li>
        {% if post %}{% assign tools = post.tools %}{% else %}{% assign tools = page.tools %}{% endif %}{% for tools in tools %}
        <li><img src="{{site.url}}/img/tools/{{tools}}.svg" alt="Ferramenta: {{tools | upcase }}"
                title=" {{tools | upcase }}"></li> {% unless forloop.last %}{% endunless %}{% endfor %}
        {% for tag in page.tools %} {% endfor %}
    </ul>
</aside>