<p class="col-12 col-lg-8 col-xlg-6 lead">Designer há mais de dez anos construindo e projetando soluções úteis para as pessoas, com vasta experiência em usabilidade, entusiasta da acessibilidade e da tecnologia assistiva.</p>
<div class="mt-5 mb-5">
    <a href="/about" title="Experiências profissionais, acadêmicas" class="fw-semibold">Conheça minha trajetória</a> &bull; <a href="/about#detail" title="Fale comigo por email, telefone e nas redes socias" class="fw-semibold">Fale comigo</a>. <br>
    Ouça meu <a href="#podcast" title="Podcast sobre acessibilidade, inclusão e diversidade na tecnologia" class="fw-semibold">podcast</a>.
</div>