

<section class="podcast" id="podcast">
        <h2 class="section-title">
                Podcast
        </h2>
        <p>O Foco Acessível é um espaço dedicado à promoção da acessibilidade, diversidade e inclusão na tecnologia, com a participação de profissionais que compartilham suas vivências, desafios e conquistas. Neste podcast, queremos inspirar você a contribuir para um mundo mais acessível e inclusivo para todas as pessoas. </p>
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/show/4D6HigcXDCdNuCXxrkStWL?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
       <p style="font-size: small;"> Acompanhe o podcast 
        no <a title="O Foco Acessível irá abrir uma nova abra" target="_blank" href="http://focoacessivel.github.io"><strong>site do projeto</strong></a>,
        no seu aparelho <a href="https://www.subscribeonandroid.com/anchor.fm/s/e14f7d9c/podcast/rss"><strong>Android</strong></a>
        e <a href="https://podcasts.apple.com/us/podcast/foco-access%C3%ADvel/id1690286033"><strong>Apple</strong></a>
        ou nas plataformas de streaming <a href="https://open.spotify.com/show/4D6HigcXDCdNuCXxrkStWL"><strong>Spotify</strong></a>, 
        <a href="https://www.youtube.com/@focoacessivel?sub_confirmation=1"><strong>Youtube</strong></a>, 
        <a href="https://www.deezer.com/pt/show/6060897"><strong>Deezer</strong></a> e 
        <a href="https://soundcloud.com/focoacessivel"><strong>Soundcloud</strong></a>!
</p>
</section>

<footer class="site-footer">
    <a class="top" title="Ir para o início da página" href="#top"><img title="Ir para o início da página"
            alt="Seta apontando para cima" src="{{site.url}}/img/top.svg"></a>
    <p>{{site.name}} é feito com <span class="love">💚</span> & ☕ em Olinda por <span>{{site.author}}</span>.</p>
    <p>Esta obra está em constante mudança. &mdash; <a title="Acesse todo o conteúdo do site"
            href="{{site.url}}/archive">Todas as publicações do site</a></p>
</footer>
</body>

</html>