<div class="mt-5 pt-5 border-top text-lowercase">
    <div class="meta-list category">
        <i class="bi bi-archive-fill me-2" title="Seção do conteúdo"></i>
        <ul class="d-inline list-inline">{% for category in page.categories %}
            <li
                class="meta-list-item {% for category in page.categories %} category-item-{{ category | slugify }}{% endfor %}">
                {{ category }}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="my-4 meta-list tags">
        <i class="bi bi-bookmark-fill me-2" title="Assuntos da página"></i>
        <ul class="d-inline list-inline">{% for tag in page.tags %}{% capture tag_name %}{{ tag }}{% endcapture %}
            <li class="meta-list-item tag-item-{{ tag_name | slugify }}">{{ tag_name }}</li>
            {% endfor %}
        </ul>
    </div>
</div>