<p class="pt-5 my-5">Obrigado por chegar até aqui 🤗</p>

{% include share.html %}


<div class="mt-5 pt-5 border-top">
    <div class="meta-list category">
        <span class="bi bi-archive-fill me-2" title="Seção do conteúdo"></span>
        {% for category in page.categories %}
            <a href='{{site.url}}/{% if page.categories contains "Palestras" %}palestras{% endif %}{% if page.categories contains "Projeto" %}projetos{% endif %}{% if page.categories contains "Blog" %}blog{% endif %}' class="meta-list-item {% for category in page.categories %} category-item-{{ category | slugify }}{% endfor %}">
                {{ category }}</a>{% endfor %}.
    </div>
    <div class="my-4 meta-list tags text-lowercase">
        <span class="bi bi-bookmark-fill me-2" title="Assuntos da página"></span>
        {% for tag in page.tags %}{% capture tag_name %}{{ tag }}{% endcapture %}
            <span class="meta-list-item tag-item tag-item-{{ tag_name | slugify }}">{{ tag_name }}</span>
        {% endfor %}
    </div>
</div>