<footer class="site-footer">
    <a class="top" title="Ir para o início da página" href="#top"><img title="Ir para o início da página" alt="Seta apontando para cima" src="{{site.url}}/img/top.svg"></a>
    <p>{{site.name}} é feito com <span class="love">💚</span> & ☕ em Olinda por <span>{{site.author}}</span>.</p>
    <p>Esta obra está em constante mudança. &mdash; <a title="Acesse todo o conteúdo do site" href="{{site.url}}/archive">Todas as publicações do site</a></p>
</footer>


</body>

</html>