<footer class="footer-site">

  <div class="footer-container social-footer">
    <nav class="menu-footer-pages">
      <ul>
        <li><a href="{{site.url}}/">Página Inicial</a></li>
        <li><a href="{{site.url}}/projetos">Projetos</a></li>
        <li><a href="{{site.url}}/blog">Blog</a></li>
        <li><a href="{{site.url}}/palestras">Palestras</a></li>
        <li><a href="{{site.url}}/sobre">Sobre</a>
        <li><a href="{{site.url}}/sobre-site">Sobre o site</a></li>
        <li><a href="{{site.url}}/contato">Contato</a></li>
        <li><a href="{{site.url}}/recursos">Recursos</a></li>
        <li><a href="{{site.url}}/now">Fazendo agora?</a></li>
      </ul>
    </nav>
    <nav class="menu-footer-social">
      {% include social.html %}
      <a href="{{site.url}}/feed.xml" class="rss-link" title="Assine o RSS"><span class="bi bi-rss-fill"></span></a>
    </nav>
  </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
  integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"
  integrity="sha512-TPh2Oxlg1zp+kz3nFA0C5vVC6leG/6mm1z9+mA81MI5eaUVqasPLO8Cuk4gMF4gUfP5etR73rgU/8PNMsSesoQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js"
  integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
  integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
  async></script>
<script src="{{site.url}}/js/main.js"></script>

{% if page.toc %}
<script>
  $(document).ready(function () {
    $('#toc').toc({ noBackToTopLinks: true });
  });
</script>
{% endif %}

<!-- Modal do Bootstrap -->
<div class="modal fade" id="translateModal" tabindex="-1" aria-labelledby="translateModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-title" id="translateModalLabel">Selecione o idioma</div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
      </div>
      <div class="modal-body">
        <div class="translate-options">
          <ul class="list-group list-group-flush">
            <li class="px-0 list-group-item"><span class="me-2">🇺🇸</span> Select language: <a href="#"
                data-lang="en">English</a></li>
            <li class="px-0 list-group-item"><span class="me-2">🇫🇷</span> Sélectionnez la langue: <a href="#"
                data-lang="fr">Français</a></li>
            <li class="px-0 list-group-item"><span class="me-2">🇪🇸</span> Seleccione el idioma: <a href="#"
                data-lang="es">Español</a></li>
            <li class="px-0 list-group-item"><span class="me-2">🇩🇪</span> Sprache auswählen: <a href="#"
                data-lang="de">Deutsch</a></li>
            <li class="px-0 list-group-item"><span class="me-2">🇮🇹</span> Seleziona la lingua: <a href="#"
                data-lang="it">Italiano</a></li>
            <li class="px-0 list-group-item"><span class="me-2">🇯🇵</span> 言語を選択: <a href="#" data-lang="ja">日本語</a>
            </li>
            <li class="px-0 list-group-item"><span class="me-2">🇨🇳</span> 选择语言: <a href="#" data-lang="zh-CN">中文
                (简体)</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>