<header class="site-header">
    <a href="{{site.url}}/" title="{{site.name}}" class="logo">
        <img src="{{site.url}}/img/logo.svg" title="{{site.name}}" alt="Ilustração do lutador de Sumô">
        <div>
            <h1>{{site.name}}</h1>
            <span>Portfólio do designer Wagner Beethoven!</span>
        </div>
    </a>
    <nav>
        <!-- <a href="#intro">Página inicial</a> -->
        <a accesskey="1" title="Portfólio" href="{{site.url}}/portfolio">Portfólio</a>
        <a accesskey="2" title="Blog" href="{{site.url}}/blog">Blog</a>
        <a accesskey="3" title="Sobre" href="{{site.url}}/about">Sobre</a>
        <a accesskey="4" title="Contato" href="{{site.url}}/talk">Contato</a>
    </nav>
</header>