<header class="site-header" id="top">
  <figure class="site-logo">
    <img src="{{ site.url }}/img/logo.svg" alt="Logo {{site.name}}" title="Logo {{site.name}}" class="svg"
      longdesc="Desenho de um lutador de sumô, de pele clara, cabelo escuro e vestindo uma mawashi, a cuequinha do lutador na cor verde" />
    <figcaption class="site-title">
      <a title="Página inicial" href="{{ site.baseurl }}/">
        <h1 class="site-name">
          {{ site.name }}
        </h1>
        <h2 class="site-description">
          {{ site.slogan }}
        </h2>
      </a>
    </figcaption>
  </figure>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu" aria-controls="menu" aria-expanded="false" aria-label="Navigation">
    <span title="Menu" class="navbar-toggler-icon"><span class="sr-only">Ícone do menu</span></span> 
      Menu
  </button>
  {% include menu.html %}
</header>