<li class="loop px-0 list-group-item position-relative">
    <span class="text-body-tertiary">
        <time datetime="{{ post.date | date: '%Y-%m-%d'}}">
            {{ post.date | date: "%d/%m/%Y" }}
        </time>:
    </span>
    <h3 class="d-inline fs-6">
        <a class="text-decoration-none fw-semibold" href="{{post.url}}">
            {{ post.title }}
        </a>
    </h3>
    {% if post.type %}
    <small class="ms-2 badge badge-{{post.type | slugify: 'latin' }}">
        {{post.type}}
    </small>
    {% endif %}
</li>