<div class="loop-project-item">
    <div class="project-container card card-{{post.categoria}}">
        <div class="card-body">
            <div>
                <span class="card-icon bi bi-{{post.icone}} "></span>
                <span class="visually-hidden">{{post.icone}}</span>

                <h3 class="card-title">
                    <a href="{{post.link}}">
                        {{ post.title }}
                    </a>
                </h3>
            </div>
            {% for tag in post.tags %}{% capture tag_name %}{{ tag }}{% endcapture %}
            <small class="card-tag">{{ tag_name }}</small>
            {% endfor %}
        </div>
    </div>
</div>