<div class="menu-main">
        <p>
                <a href="/sobre" title="Experiências profissionais, acadêmicas">Conheça minha trajetória</a> &bull; <a
                        href="/contato" title="Fale comigo por email, telefone e nas redes socias">Fale comigo</a>.
                {% if page.path contains '_posts' %}<br>Acesse meus <a href="{{site.url}}/projetos">projetos</a>, leia
                meus <a href="{{site.url}}/blog">textos</a> e confira minhas <a
                        href="{{site.url}}/palestras">palestras</a>.{% else %}{% endif %}
        </p>
        <p>Ouça meu <a href="#podcast"
                        title="Podcast sobre acessibilidade, inclusão e diversidade na tecnologia">podcast</a>.
        </p>
</div>