<meta charset="utf-8" />
<meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

<link rel="canonical" href="{{ page.url | prepend: site.url }}">

<!-- FAVICON -->
<link href="{{site.url}}/img/favicon/favicon-60x60.png" rel="shortcut icon" type="image/x-icon">
<link href="{{site.url}}/img/favicon//favicon-60x60.png" rel="apple-touch-icon-precomposed" sizes="60x60" >
<link href="{{site.url}}/img/favicon/favicon-76x76.png" rel="apple-touch-icon-precomposed" sizes="72x72">
<link href="{{site.url}}/img/favicon/favicon-120x120.png" rel="apple-touch-icon-precomposed" sizes="114x114">
<link href="{{site.url}}/img/favicon//favicon-152x152.png" rel="apple-touch-icon-precomposed" sizes="144x144">

<!-- FACEBOOK -->
<meta property="og:locale" content="pt-br">
<meta property="og:type" content="article">
<meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:image" content="{{ site.url }}/{{ page.image }}" />
<meta property="og:site_name" content="{{site.name}}">
<meta property="article:publisher" content="http://www.facebook.com/wagnerbeethoven" />
<meta property="article:author" content="https://www.facebook.com/wagnerbeethoven" />
<meta property="article:published_time" content="{{ page.date }}" />
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">


<!-- TWITTER -->
<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:site" content="@agenciasumo" />
<meta name="twitter:creator" content="@wagnerbeethoven">
<meta name="twitter:card" content="summary">