{% if post.url %}
<div class="portfolio__item portfolio__item--{{post.slug}}">
    {{ page.date | date: "%e/%m/%y" }}
    <div class="portfolio__item--content" style="background-image: url('{{ post.image }}')" title="{{ post.title }}">
        <a href="{{ post.url }}">
            <span>
                {{ post.title }}
            </span>
        </a>
    </div>

    <div class="portfolio__item--legend">
        <a href="{{ post.url }}">
            <span>
                {{ post.title }}
            </span>
        </a>
    </div>
</div>
{% endif %}