<li>
    <article id="{{post.title | slugify}}"
    
    {% if post.link %}title="'{{ post.title }}' {{site.warning}}"{% else %}title="Clique para ler o conteúdo"{% endif %}
    
    >
        <div class="post-container">
            <a href="{% if post.link %}{{ post.link }}{% else %}{{post.url}}{% endif %}"
            
            {% if post.link %}target='blank'{% else %}{% endif %}
            
            
            
            >
                <!--<div class="post-picture {% if post.servico %}post-picture-{{post.servico}}{% endif %}" style="background-image:url({{ post.banner }})"></div> -->
                
                <img src="{{ post.banner }}" class="post-picture" alt="{{ post.banner-alt }}">
                
                <h3 class="post-title">
    
                    {{ post.title }}
    
                </h3>
                <span>{{ post.postdate }}<br> &mdash;</span>
                <p class="post-description">
                    {{ post.description }}
                </p>
            </a>
        </div>
    </article>
</li>
