<div class="related-post">
    {% if page.previous.url %}
    <a class="related-post-prev" href="{{page.previous.url}}"
        title="Leia a publicação &quot;{{page.previous.title}}&quot;">
        <small>Publiação anterior</small>
        <p>
            <span class="bi bi-arrow-left-square"></span>
            <span>
                {{page.previous.title}}
            </span>
        </p>
    </a>
    {% endif %}

    {% if page.next.url %}
    <a class="related-post-next" href="{{page.next.url}}" title="Leia a publicação &quot;{{page.next.title}}&quot;">
        <small>Próximo publicação</small>
        <p>
            <span>{{page.next.title}}</span>
            <span class="bi bi-arrow-right-square"></span>
        </p>
    </a>
    {% endif %}
</div>