{% if include.pageurl != nil and include.pageurl != '' %}
{% assign pageurl = include.pageurl %}
{% else %}
{% assign pageurl = page.url %}
{% endif %}

<ul class="share">
    <li>Compartilhe no:</li>
    <li><a class="facebook" title="Compartilhe no Facebook" href="https://www.facebook.com/share.php?u={{ site.url }}{{ pageurl }}"><span class="bi bi-facebook"></span>Facebook</a></li>
    <li><a class="twitter" title="Compartilhe no Twitter" href="https://twitter.com/intent/tweet?text={{ site.url }}{{ pageurl }}"><span class="bi bi-twitter"></span>Twitter</a></li>
    <li><a class="linkedin" title="Compartilhe no Linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ pageurl }}&title=&summary=&source="><span class="bi bi-linkedin"></span>linkedIn</a></li>
    {% if page.image %}<li><a class="pinterest" title="Compartilhe no Pinterest" href="https://pinterest.com/pin/create/button/?url=&media={{ site.url }}{{ page.image }}&description="><span class="bi bi-pinterest"></span>Pinterest</a></li>{% endif %}
    <li><a class="mail" title="Compartilhe o texto por Email" href="mailto:?&body={{ site.url }}{{ pageurl }}"><span class="bi bi-envelope"></span>Email</a></li>
</ul>