<ul class="social list-inline">
    <li class="list-inline-item social-linkedin me-3">
        <a rel="no-referrer noopener" class="linkedin text-decoration-none"  title="LinkedIn irá abrir em uma nova aba" href="https://linkedin.com/in/wagnerbeethoven/">
            <i alt="Retângulo com os cantos abaulados e em seu interior as letras 'i' e 'n' em minúsculo" class="bi bi-linkedin"></i>               
        </a>
    </li>
    <li class="list-inline-item">
        <a rel="no-referrer noopener" class="behance text-decoration-none"  title="Behance irá abrir em uma nova aba" href="https://behance.net/wagnerbeethoven/"
        ><i alt="Letras B maúscula e a letra E minúscula, acima dela um retângulo" class="bi bi-behance"></i>
    </a>
    </li>
    <li class="list-inline-item">
        <a rel="no-referrer noopener" class="medium text-decoration-none" title="Medium irá abrir em uma nova aba" href="https://wagnerbeethoven.medium.com/">
            <i alt="Três figuras esféricas, uma ao lado da outra com larguras diferentes e a mesma altura" class="bi bi-medium"></i>                
        </a>
    </li>
    <li class="list-inline-item mx-1">
        <a rel="no-referrer noopener" class="github text-decoration-none"  title="Github irá abrir em uma nova aba" href="https://github.com/wagnerbeethoven/">
            <i alt="Silhueta de um gato" class="bi bi-github"></i>
        </a>
    </li>
</ul>