<ul class="social list-inline">
    <li class="list-inline-item me-3 d-none  d-print-inline">
        <a class="linkedin text-decoration-none" href="{{site.url}}">
            <span class="d-none d-print-inline">Site</span>
        </a>
    </li>
    <li class="list-inline-item social-linkedin me-3">
        <a class="linkedin text-decoration-none" href="https://linkedin.com/in/wagnerbeethoven/">
            <i alt="Retângulo com os cantos abaulados e em seu interior as letras 'i' e 'n' em minúsculo" class="bi bi-linkedin d-print-none"></i>
            <span class="d-none d-print-inline">LinkedIn</span>
        </a>
    </li>
    <li class="list-inline-item">
        <a class="behance text-decoration-none" href="https://behance.net/wagnerbeethoven/">
            <i alt="Letras B maúscula e a letra E minúscula, acima dela um retângulo" class="bi bi-behance d-print-none"></i>
            <span class="d-none d-print-inline">Behance</span>
        </a>
    </li>
    <li class="list-inline-item">
        <a class="medium text-decoration-none" href="https://wagnerbeethoven.medium.com/">
            <i alt="Três figuras esféricas, uma ao lado da outra com larguras diferentes e a mesma altura" class="bi bi-medium d-print-none"></i>
            <span class="d-none d-print-inline">Medium</span>
        </a>
    </li>
    <li class="list-inline-item mx-1">
        <a class="github text-decoration-none" href="https://github.com/wagnerbeethoven/">
            <i alt="Silhueta de um gato" class="bi bi-github d-print-none"></i>
            <span class="d-none d-print-inline">Github</span>
        </a>
    </li>
    <li class="list-inline-item mx-1">
        <a class="github text-decoration-none" href="https://speakerdeck.com/wagnerbeethoven/">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="speakerdeck-icon d-print-none"> 
                <path d="M213.9 296H100a100 100 0 0 1 0-200h132.8a40 40 0 0 1 0 80H98c-26.5 0-26.5 40 0 40h113.8a100 100 0 0 1 0 200H40a40 40 0 0 1 0-80h173.9c26.5 0 26.5-40 0-40zM298 416a120.2 120.2 0 0 0 51.1-80h64.6a19.8 19.8 0 0 0 19.7-20V196a19.8 19.8 0 0 0 -19.7-20H296.4a60.8 60.8 0 0 0 0-80h136.9c43.4 0 78.7 35.8 78.7 80v160c0 44.2-35.2 80-78.7 80z" fill='#009287' />
            </svg>
            <span class="d-none d-print-inline">Speakerdeck</span>
        </a>
    </li>
</ul>