<ul class="social list-inline">
    <li class="list-inline-item me-3 d-none  d-print-inline">
        <a class="linkedin text-decoration-none"  href="{{site.url}}">
            <span class="d-none d-print-inline">Site</span>
        </a>
    </li>
    <li class="list-inline-item social-linkedin me-3">
        <a class="linkedin text-decoration-none" href="https://linkedin.com/in/wagnerbeethoven/">
            <i alt="Retângulo com os cantos abaulados e em seu interior as letras 'i' e 'n' em minúsculo" class="bi bi-linkedin d-print-none"></i>
            <span class="d-none d-print-inline">LinkedIn</span>
        </a>
    </li>
    <li class="list-inline-item">
        <a class="behance text-decoration-none" href="https://behance.net/wagnerbeethoven/">
            <i alt="Letras B maúscula e a letra E minúscula, acima dela um retângulo" class="bi bi-behance d-print-none"></i>
            <span class="d-none d-print-inline">Behance</span>
        </a>
    </li>
    <li class="list-inline-item">
        <a class="medium text-decoration-none" href="https://wagnerbeethoven.medium.com/">
            <i alt="Três figuras esféricas, uma ao lado da outra com larguras diferentes e a mesma altura" class="bi bi-medium d-print-none"></i>
            <span class="d-none d-print-inline">Medium</span>
        </a>
    </li>
    <li class="list-inline-item mx-1">
        <a class="github text-decoration-none" title="Github irá abrir em uma nova aba" href="https://github.com/wagnerbeethoven/">
            <i alt="Silhueta de um gato" class="bi bi-github d-print-none"></i>
            <span class="d-none d-print-inline">Github</span>
        </a>
    </li>
</ul>