article {
  a {
    font-weight: 600;

    a:after {
      opacity: 1;
      transform: scale(1, 1);
      border-bottom-color: $neutral-primary;
    }
  }

  dl {
    @extend .w-100;
    @extend .d-flex;
    @extend .flex-wrap;

    & > * {
      @extend .pt-1;
    }

    dt,
    dd {
      @extend .col-12;
    }

    dt {
      @extend .font-weight-bold;
      @extend .col-md-4;
      @extend .text-md-right;
    }

    dd {
      @extend .col-md-8;
    }
  }

  img {
    @extend .img-fluid;
    @extend .rounded;
    @extend .d-block;
    @extend .shadow-sm;
    @extend .m-0;
    // @extend .mb-3;
  }

  figure {
    @extend .my-0;

    img {
      @extend .my-0;
    }

    figcaption {
      font-size: 80%;
      font-weight: 400;
      @extend .text-center;
      @extend .p-2;
      @extend .text-muted;
    }
  }

  hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    // border-color: $main-color;
    margin: 4rem 0;
    // border-width: 1px;
    // height: 1px;
    @extend .w-50;
    @extend .mx-auto;
  }

  pre {
    @extend .p-2;
    font-size: 87.5%;
    color: #e83e8c;
  }
  ul {
    @extend .px-3;
    list-style-type: disc;

    li {
      > * {
        @extend .ml-0;
        @extend .mr-0;
        @extend .w-100;
      }
    }
  }
  blockquote {
    @extend .d-block;
    @extend .position-relative;
    font-size: 1rem;
    padding-left: 4rem;
    color: #6a737d;
    @extend .my-4;
    &:before {
      @extend .position-absolute;
      content: "\201C";
      left: 0;
      width: 3rem;
      height: 4rem;
      font: 6em/1 serif;
      color: rgba(102, 102, 102, 0.85);
      text-align: center;
    }
    & blockquote {
      @extend .pl-0;
      &:before {
        display: none;
      }
    }
    footer {
      @extend .blockquote-footer;
    }
    p {
      &:last-of-type {
        @extend .mb-0;
      }
    }
  }
}

.img {
  &-right {
    @extend .float-none;
    @extend .m-0;
    @extend .float-none;
    @extend .float-md-right;
    @extend .pl-0;
    @extend .pl-md-2;
    height: auto;
  }
}

.documento {
  @extend .d-inline-block;
  &:before {
    content: "";
    display: inline-block;
    background: url(/img/icones/anexo.svg) left center transparent no-repeat;
    background-size: contain;
    height: 1rem;
    width: 1rem;
  }
  small {
    @extend .text-muted;
    font-weight: normal;
    font-size: small;
  }
}
