button.btn {
  &-vcard {
    @extend .btn;
    border: 1px solid $main-color;
    @extend .px-3;
    @extend .py-2;
    @extend .rounded;
    color: $main-color;
    transition: none;

    &:hover,
    &:active,
    &:focus {
      background-color: $main-color !important;
      border-color: $main-color !important;
      color: #fff !important;
      box-shadow: 0 0 0 0.2rem $main-color !important;
    }
  }
}