.site {
  &-header {
    @extend .d-flex;
    @extend .align-items-center;
    @extend .justify-content-between;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    @extend .border-bottom;
    @include media-breakpoint-down(md) {
      text-align: center;
      flex-direction: column;
    }
  }
  &-logo {
    @extend .d-flex;
    margin: 0 1rem 0 0;
    svg,
    img {
      width: 80px;
      height: 80px;
      margin: 0;
    }
    @include media-breakpoint-down(md) {
      flex-direction: column;
      margin-bottom: 1re;
    }
  }
  &-description {
    font-size: 1rem;
    @include media-breakpoint-down(md) {
      padding: 2rem 0;
    }
  }

  &-name {
    line-height: 1.2;
    font-size: 3.5rem;
    margin-bottom: 0;
    @extend .d-flex;
    flex-direction: column;
    @include media-breakpoint-down(md) {
      font-size: 2rem;
    }
  }
  &-title {
    width: 365px;
    a {
      @extend .d-flex;
      flex-direction: column;
    }
  }
}
