.page {
  &-title {
    @extend .h1;
    font-size: 2.488rem;
    font-weight: 600;
  }

  &-banner {
    @extend .ratio;
    @extend .ratio-21x9;

    img {
      @extend .rounded;
      @extend .object-fit-cover;
    }

    &-legend {
      @extend .figure-caption;
      position: relative;
      display: inline;
      padding: 0.5rem;
      background: #fff;
      border-radius: 0.25rem;
      border-top-left-radius: 0;
      margin: 0;
      font-size: 0.85rem;
      font-weight: 300;
      font-style: italic;
      color: #777;
    }
  }

  &-thanks {
    padding: 6rem 0 3rem;
    margin: 0;
  }
}

.post {


  &-summary {
    @extend .my-3;
    @extend .border-top;
    @extend .border-bottom;
    @extend .py-2;
  }

  &-meta {

    &-header,
    &-footer {
      @extend .list-unstyled;
    }

    &-header {
      @extend .row;
      @extend .text-muted;
      @extend .mb-0;

      li {
        @extend .col-12;
        @extend .col-md-3;

        &:nth-child(2n) {
          @extend .my-2;
          @extend .my-md-0;
        }
      }
    }

    &-footer {
      @extend .border-top;
      padding-top: 3rem;
      margin-top: 3rem;
    }

    .bi {
      @extend .me-2;
    }
  }



  &-tag {
    @extend .mt-4;
    @extend .text-lowercase;

    &-item {
      &:after {
        content: ", ";
      }

      &:last-child:after {
        content: ".";
      }
    }
  }

  &-badge {
    font-weight: 400;
    text-transform: lowercase;
    color: var(--bs-black);
    @extend .ms-2;
    @extend .badge;

    &-aula {
      background: var(--bs-orange);
    }

    &-mentoria {
      background: #ff56aa;
    }

    &-rec-n-play,
    &-evento {
      background: var(--bs-teal);
    }

    &-ux-collective {
      background: #01ccff;
    }
  }
}

.loop {
  &-post {
    @extend .list-group;
    @extend .list-group-flush;

    &-item {
      @extend .px-0;
      @extend .list-group-item;
      @extend .position-relative;
    }

    &-date {
      @extend .text-body-tertiary;
    }

    &-title {
      @extend .d-inline;
      @extend .fs-6;

      a {
        @extend .text-decoration-none;
        @extend .fw-semibold;
      }
    }
  }

  &-project-item {
    @extend .col-sm-12;
    @extend .col-md-6;
    @extend .col-lg-3;
    @extend .mb-4;
  }
}

.related-post {
  @extend .mt-5;
  @extend .row;

  a {
    @extend .text-decoration-none;
    @extend .col-12;
    @extend .col-md;
  }

  &-prev {
    @extend .text-center;
    @extend .text-md-start;

    .bi {
      @extend .me-3;
    }

    p {
      @extend .justify-content-md-start;
    }
  }

  &-next {
    @extend .text-center;
    @extend .text-md-end;

    .bi {
      @extend .ms-3;
    }

    p {
      @extend .justify-content-md-end;
    }
  }



  small {
    @extend .mb-4;
    @extend .d-block;
    @extend .opacity-75;
  }

  p {
    @extend .d-flex;
    @extend .justify-content-center;

    span {

      @extend .d-inline-block;
    }
  }
}