body {
    padding: 5rem 1rem;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

a {
    color: var(--bs-body-color);
}

b,
strong {
    @extend .fw-semibold;
}

mark {
    background: #005757;
    color: #fff;
    padding: 0;
    @extend .fw-bold;
}

main {
    @extend .container;
    @extend .h-100;
    margin: 3.25rem 0 5.25rem;
}

.aside {
    @extend .col-12;
    @extend .col-md-3;

    &-title {

        @extend .h4;
        @extend .pt-5;
        font-style: italic;
    }
}



.section {
    &-title {
        font-weight: 600;
        font-size: 2rem;
        margin: 4.625rem 0 2.25rem;
    }

    &-subtitle {
        margin: -1.5rem 0 2.25rem;
        position: relative;
        font-size: 0.9rem;
        font-weight: 300;
    }
}


#error {
    display: table;
    text-align: center;
}

.fof {
    display: table-cell;
    vertical-align: middle;

    h1 {
        font-size: 50px;
        display: inline-block;
        padding-right: 12px;
        animation: type 0.5s alternate infinite;
    }
}