.post {
    &__sidebar {
        @extend .mt-5;
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 0;
        border-top: 1px solid rgba(0,0,0,0.1);
        img {
            width: 18px;
            @extend .mr-3;
            color: var(--main-color)
        }

        li {
            @extend .breadcrumb-item;

            &:nth-child(2) {
                &:before {
                    @extend .d-none;

                }
            }

        }
    }
}

.aside {
    &__section {
        @extend .text-capitalize;
        @extend .breadcrumb;
        @extend .p-0;
        @extend .mx-0;
        background: transparent;



        &--related {
            @extend .mt-5;
            @extend .mb-0;
            @extend .pt-3;
            position: relative;
            @extend .list-unstyled;

            li {
                list-style: square;
                @extend .mb-1;
                margin-left: 25px;
                @extend .w-100;
                @extend .pl-0;

                &:last-of-type {
                    &:before {
                        @extend .d-none;
                    }
                }
            }

            a {
                @extend .mb-3;
                @extend .px-0;

                a {
                    font-weight: 500;
                }

            }

            &:before,
            &:after {
                position: absolute;

            }

            &:before {
                @extend .d-block;
                top: -1rem;
                width: 18px;
                height: 18px;
                content: " ";
                background: transparent url("../img/icons/related.svg");
            }

            &:after {
                top: -1.25rem;
                left: calc(18px + 15px);
                content: "Textos relacionados";

                font-weight: 600;

            }

        }
    }

    &__portfolio {
        @extend .col-12;
        @extend .col-md-8;
        @extend .mx-auto;
        @extend .mt-5;

        &:before {
            background: none;
            font-size: 2rem;
            font-weight: 100;
            letter-spacing: 1em;
            padding-left: 1em;
            width: 100%;
            content: "* * * ";
            text-align: center;
            padding: 3rem;
            display: block;
        }

        ul {
            @extend .list-inline;

            li {
                @extend .d-inline;

                &:first-child {
                    @extend .font-weight-bold;
                }
            }
        }
    }

    &__tools {
        li {
            @extend .mr-2;

            img {
                width: 24px;
                height: 24px;
            }
        }
    }

    &__areas {
        li {
            &:after {
                content: ","
            }

            &:nth-last-child(2) {
                &:after {
                    content: ""
                }
            }

            &:first-child {
                &:after {
                    content: ""
                }
            }

            &:last-child {
                &:before {
                    content: " e "
                }

                &:after {
                    content: "."
                }
            }
        }

    }
}