.comment {
    &__area {
        @extend .my-4;
    }
    &__button {
        @extend .btn;
        @extend .px-3;
        @extend .py-2;
        border-width: 0;
        @extend .rounded-pill;
        background: #f1f1f1;

        &:focus {
            box-shadow: none;
        }

        &[aria-expanded=true] {
            background: var(--main-color);
            color: #fff;
        }
    }
}