.menu {
    &--main {
        @extend .justify-content-md-end;
        @extend .navbar-collapse;

        ul {
            @extend .navbar-nav;
            @extend .my-2;
            @extend .my-lg-0;

            li {
                @extend .nav-item;

                a {
                    @extend .nav-link;


                }
            }
        }
    }

    &-item {
        &--active {
            &:after {
                border-bottom-width: 3px;
                opacity: 1;
                transform: scale(1);
            }
        }
    }
}


.navbar-toggler {
    @extend .w-100;
    @extend .my-3;
}


.top {
    @extend .text-center;
    @extend .my-5;
}