.career {
  &-container {
    @extend .col-12;
    @extend .col-md-8;
    margin-left: auto;
    margin-right: auto;

    .section-title {
      margin-bottom: 3rem;
    }
  }

  &-item {
    @extend .row;
    margin-bottom: 2rem;
  }
  &-logo,
  &-detail {
    @extend .col-12;
  }
  &-logo {
    @extend .col-md-3;
    img {
      display: block;
      margin: 0 auto 1rem !important;
      padding: 1rem !important;
      box-shadow: none !important;
    }
  }
  &-detail {
    @extend .col-md-9;
  }

  &-activity,
  &-name,
  &-duration,
  &-description {
    width: 100%;
    display: block;
  }

  &-name,
  &-duration {
    color: #6c757d;
  }
  &-duration {
    margin-bottom: 2rem;
  }
  &-description {
    padding-bottom: 1rem;
    border-bottom: 1px solid #dee2e6;
  }
}
.about {
  &-header {
    margin-bottom: 1rem;
  }
  &-name {
    font-size: 2.1875rem;
  }
  &-title {
    padding: 1rem 0;
  }
  &-name,
  &-title,
  &-contact {
    display: block;
    text-align: center;
  }
  &-info {
    @extend .row;
    p {
      @extend .col-12;
      @extend .col-md-6;
    }
  }
}

.course,
.education,
.certificate {
  &-container {
    .career-name {
      font-weight: 700;
      color: #333;
    }
  }
}
.course-container {
  .career-item {
    margin-bottom: 2rem !important;
    padding-bottom: 0 !important;
  }
  .career-duration {
    margin-bottom: 0 !important;
  }
  .career-detail {
    padding-bottom: 0 !important;
    @extend .col-12;
  }
}
.links-social {
  width: 100%;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  &-item {
    margin: 0 1rem;
    width: 27px;
    height: 27px;
    background: transparent no-repeat center;
    background-size: 100%;
    display: block;
  }
  &-linkedin {
    background-image: url(img/social/linkedin.svg);
    width: 90px !important;
  }
}
