
//COLORS
$main-color: #147979;
$neutral-primary: #333;
$neutral-secondary: #dee2e6;

//FONTS
$font-family: 'Nunito', sans-serif;


// SIZES
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
  xl: 1500px,
);
