---
permalink: /rss.xml
eleventyExcludeFromCollections: true
templateEngine: njk
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:content="http://purl.org/rss/1.0/modules/content/">
  <channel>
    <title>{{ site.name | escape }}</title>
    <link>{{ site.url }}</link>
    <description>{{ site.description | escape }}</description>
    <language>pt-BR</language>
    <atom:link href="{{ site.url }}/rss.xml" rel="self" type="application/rss+xml"/>

    {%- set allItems = [] -%}
    {%- set allItems = allItems.concat(collections.posts | default([])) -%}
    {%- set allItems = allItems.concat(collections.notes | default([])) -%}
    {%- set allItems = allItems.concat(collections.poetry | default([])) -%}
    {%- set allItems = allItems.concat(collections.books | default([])) -%}
    {%- set allItems = allItems.concat(collections.movies | default([])) -%}
    {%- set allItems = allItems.concat(collections.series | default([])) -%}
    {%- set allItems = allItems.concat(collections.games | default([])) -%}
    {%- set allItems = allItems.concat(collections.comics | default([])) -%}
    {%- set allItems = allItems.concat(collections.music | default([])) -%}
    {%- set allItems = allItems.concat(collections.recipes | default([])) -%}
    {%- set allItems = allItems.concat(collections.photos | default([])) -%}
    {%- set feed = allItems | sort(true, false, "date") | head(30) -%}

    {% if feed | length %}<lastBuildDate>{{ feed[0].date | rssDate }}</lastBuildDate>{% endif %}
    {% for item in feed %}
    <item>
      <title>{{ item.data.title or item.data.artist or (item.date | readableDate("dd/MM/yyyy")) | escape }}</title>
      <link>{{ site.url }}{{ item.url }}</link>
      <guid isPermaLink="true">{{ site.url }}{{ item.url }}</guid>
      <pubDate>{{ item.date | rssDate }}</pubDate>
      <dc:creator>{{ site.author | escape }}</dc:creator>
      {% if item.data.description or item.data.note %}<description>{{ item.data.description or item.data.note | escape }}</description>{% endif %}
      {% if item.templateContent %}<content:encoded>{{ item.templateContent | htmlToAbsoluteUrls(site.url) | escape }}</content:encoded>{% endif %}
      {% for tag in item.data.tags | default([]) %}<category>{{ tag | escape }}</category>{% endfor %}
    </item>
    {% endfor %}
  </channel>
</rss>
