.modal-dialog {
    @extend .modal-dialog-centered;

    &.modal-image {
        img {
            @extend .img-fluid;
            @extend .w-100;
        }
    }
}

img[data-toggle='modal'] {
    &:hover {
        cursor: pointer;
    }
}

.modal-backdrop.show {
    opacity: .85;
    // background-color: var(--main-color);
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 1000px;
        margin: auto;
    }
}