---
title: Recusos
layout: page
permalink: recursos
---


{% for item in site.recursos %}

<div class="modal fade" id="modal-{{ item.title | slugify: 'latin'  }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ item.title }}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            {{ item.content | markdownify }}
        </div>
        <div class="d-flex justify-content-between modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-primary">Acessar o link</button>
        </div>
      </div>
    </div>
  </div>

{% endfor %}



{% for item in site.recursos %}
<a href="#" data-bs-toggle="modal" data-bs-target="#modal-{{ item.title | slugify: 'latin'  }}">
    {{ item.title}}
  </a>

{% endfor %}
