---
layout: blank
title: Sobre
permalink: sobre
---



<div class="row" itemscope itemtype="http://schema.org/Person">
    <section class="sobre__picture">
        <img src="{{site.url}}/img/page/sobre.jpg"
            alt="Wagner tem pele branca, cabelos e barba curtos e pretos, tem alargador na orelha esquerda prateado, veste camisa cinza, usa relógio preto e aliança dourada, está batebdo palmas" />
    </section>
    <section class="sobre__description">
        <div itemprop="name" class="sobre__id--name">{{site.about-name}}</div>
        <div itemprop="jobTitle">
            <span class="sobre__id--title">{{site.about-title}}</span>
            &bull;
            <a class="no-border" href="mailto:{{site.about-email}}">{{site.about-email}}</a>
            &bull;
            <a class="no-border" target="_blank" href="tel:+5581986496080">{{site.about-phone}}</a>
        </div>
        <p class="links__social">
            <a target="_blank" rel="noreferrer" title="LinkedIn: wagnerbeethoven"
                class="links__social links__social--linkedin" href="http://linkedin.com/in/wagnerbeethoven">
                <span class="sr-only">LinkedIn: wagnerbeethoven</span>
            </a>
            <a target="_blank" title="Skype: wagnerbeethoven" class="links__social links__social--skype"
                href="skype:wagnerbeethoven?chat">
                <span class="sr-only">Skype: wagnerbeethoven</span>
            </a>
            <a target="_blank" rel="noreferrer" title="Behance [Este link irá abrir uma nova janela]"
                class="links__social links__social--behance" href="http://behance.net/wagnerbeethoven">
                <span class="sr-only">Behance: wagnerbeethoven</span>
            </a>
            <a target="_blank" rel="noreferrer" title="Github [Este link irá abrir uma nova janela]"
                class="links__social links__social--github" href="http://github.com/wagnerbeethoven">
                <span class="sr-only">Github: wagnerbeethoven</span>
            </a>
        </p>
        <p>Me chamo {{site.about-name}} (de batismo) , um belo nome, mas muito extenso. Por isso resolvi criar um site
            com o nome mais curto (<a href="{{site.url}}/blog/is-it-just-a-hello-world.html">maiores explicações</a>) e
            nele mostrar meu trabalho. Tenho por volta dos trintas anos e resido em <span itemprop="address" itemscope
                itemtype="http://schema.org/PostalAddress">{{site.about-city}}</span> – <span
                itemprop="addressRegion">{{site.about-state}} &bull; Brasil</span>.</p>
        <p>A carreira começou ainda em 2005 quando comecei um projeto junto com um amigo sobre música, foram madrugadas
            sem dormir estudando HTML, CSS e padrões Web. Depois de cursar Ciências Biológicas, abandonei tudo e resolvi
            fazer o que todos os amigos falavam para eu fazer: Design. Atualmente sou pós-graduado em Design Web Apps
            com Tecnologia Front-End.</p>
        <p>Abaixo você terá mais detalhes sobre meu background e minha carreira. Sobre meus trabalho, você pode <a
                href="{{site.url}}/portfolio">visualizar na seção portfólio</a> (não estarão todos já que a maioria foi
            construído através de contrato confidencialidade e sigilo) e <a href="{{site.url}}/blog">alguns textos estão
                disponivéis no meu blog</a>.</p>
        {% include vcard.html %}
        <div class="sobre__description--jobs">
            <!-- EXPERIENCIA -->
            <button class="w-100 text-left" type="button" data-toggle="collapse" data-target="#experiencia"
                aria-expanded="false" aria-controls="experiencia">Experiência profissional</button>
            <ul class="collapse" id="experiencia">
                {% for empresa in site.data.experiencia %}
                <li>
                    <img src="{{site.url}}/{{empresa.logo}}" class="job__detail--logo" alt="Logo {{experiencia.nome}}">
                    <div class="job__detail">
                        {% if empresa.atividade %}<strong class="w-100">{{empresa.atividade}}</strong>{% endif %}
                        {% if empresa.nome %}<span>{{empresa.nome}}</span>{% endif %}
                        {% if empresa.periodo %}<small class="d-block">{{empresa.periodo}}</small>{% endif %}
                        {% if empresa.descricao %}<p class="mt-2">{{empresa.descricao}}</p>{% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>

            <!-- ESCOLARIDADE -->
            <button class="w-100 text-left" type="button" data-toggle="collapse" data-target="#formacaoacademia"
                aria-expanded="false" aria-controls="formacaoacademia">Escolaridade</button>
            <ul class="collapse" id="formacaoacademia">
                {% for escolaridade in site.data.formacaoacademica %}
                <li>
                    <img src="{{site.url}}/{{escolaridade.logo}}" class="job__detail--logo"
                        alt="Logo {{escolaridade.nome}}">
                    <div class="job__detail">
                        {% if escolaridade.nome %}<strong class="w-100">{{escolaridade.nome}}</strong>{% endif %}
                        {% if escolaridade.instituicaao %}<span>{{escolaridade.instituicaao}}</span>{% endif %}
                        {% if escolaridade.periodo %}<small class="d-block">{{escolaridade.periodo}}</small>{% endif %}
                        {% if escolaridade.descricao %}<p class="mt-2">{{escolaridade.descricao}}</p>{% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>

            <!-- CERTIFICAÇÃO -->
            <button class="w-100 text-left" type="button" data-toggle="collapse" data-target="#certificacao"
                aria-expanded="false" aria-controls="certificacao">Certificação</button>
            <ul class="collapse" id="certificacao">
                {% for certificacao in site.data.certificacoes %}
                <li>
                    <img src="{{site.url}}/{{certificacao.logo}}" class="job__detail--logo"
                        alt="Logo da {{certificacao.nome}}">
                    <div class="job__detail">
                        {% if certificacao.nome %}<strong class="w-100">{{certificacao.nome}}</strong>{% endif %}
                        {% if certificacao.instituicao %}<span>{{certificacao.instituicao}}</span>{% endif %}
                        {% if certificacao.periodo %}<small class="d-block">{{certificacao.periodo}}</small>{% endif %}
                        {% if certificacao.descricao %}<p class="mt-2">{{certificacao.descricao}}</p>{% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>

            <!-- CURSOS -->
            <button class="w-100 text-left" type="button" data-toggle="collapse" data-target="#curso"
                aria-expanded="false" aria-controls="curso">Cursos</button>
            <ul class="collapse" id="curso">
                {% for curso in site.data.cursos %}
                <li>
                    <img src="{{site.url}}/{{curso.logo}}" class="job__detail--logo" alt="Logo {{escolaridade.nome}}">
                    <div class="job__detail">
                        {% if curso.nome %}<strong class="w-100">{{curso.nome}}</strong> {% endif %}
                        {% if curso.instituicao %}<span>{{curso.instituicao}}
                            {% if curso.periodo %}({{curso.periodo}}){% endif %} {% endif %}

                            {% if curso.descricao %}<p class="mt-2">{{curso.descricao}}</p> {% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>


        </div>
    </section>
</div>
<script
    type="application/ld+json">{"@context": "http://schema.org/","@type": "Person","name": "{{site.about-name}}","jobTitle": "{{site.about-title}}","address": {"@type": "PostalAddress","addressLocality": "{{site.about-city}}","addressRegion": "{{site.about-state}}"}}</script>