.notfound {
  header,
  footer {
    display: none !important;
    visibility: hidden !important;
  }

  &__container {
    @extend .text-center;
    position: absolute;
    left: 50%;
    @extend .col-6;
    @extend .mx-auto;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;

    p {
      @extend .my-4;
    }

    a {
      @extend .d-inline-block;
      @extend .rounded;
      font-size: 16px;
      padding: 16px 32px;
      background: var(--main-color);
      border: 2px solid var(--main-color);
      color: #fff !important;

      &:hover,
      &:focus {
        background: #fff;
        color: var(--main-color) !important;

        &:after {
          @extend .d-none;
        }
      }
    }

    img {
      @extend .d-block;
      @extend .mx-auto;
      width: 300px;
    }
  }
}
