.page {
  &-banner {
    img {
      @extend .w-100;
      @extend .img-fluid;
      @extend .rounded;
      @extend .shadow-sm;
    }

    figcaption {
      @extend .text-center;
      @extend .small;
      @extend .p-2;
      opacity: 0.5;
    }
  }

  &-title {
    @extend .display-4;
    @extend .text-center;
    @extend .py-4;
    @extend .h2;
    @extend .font-weight-light;
    @extend .mb-0;
  }

  &-summary {
    @extend .lead;
    @extend .font-italic;
    @extend .text-center;
    height: auto;
    @extend .mx-auto;
    @extend .col-12;
    @extend .col-md-10;
    @extend .mb-5;
  }

  &__content {
    &--blog {
      ul {
        @extend .list-unstyled;

        li {
          @extend .col-12;
          @extend .pb-4;

          p {
            @extend .mb-0;
            @extend .text-muted;
            font-size: 0.825rem;
          }

          strong {
            font-weight: 600;
          }
        }
      }
    }
  }
  &-archive {
    @extend .pt-0;
    h3 {
      @extend .font-weight-light;
      @extend .text-capitalize;
      @extend .mt-4;
      @extend .mb-2;
    }

    ul {
      @extend .list-unstyled;

      li {
        @extend .w-100;
        @extend .pb-2;
        @extend .px-0;

        a {
          strong {
            font-weight: 600;
          }
        }
      }
    }
  }
  &-list {
    @extend .pt-0;
    @extend .list-inline;
    a {
      @extend .mr-md-3;
      @extend .mr-0;
      @extend .d-block;
      @extend .d-md-inline-block;
    }
  }
}
