// @mixin respond-above($breakpoint) {
// @mixin respond-below($breakpoint) {
// @mixin respond-between($lower, $upper) {

.portfolio {
  &-container {
    @extend .row;
  }

  // PORTFOLIO LIST
  &-item {
    @extend .col-12;
    @extend .col-sm-6;
    @extend .col-md-4;
    @extend .mb-4;

    &:last-of-type {
      @extend .mb-0;
    }
  }
  &-name {
    @extend .text-center;
    @extend .p-2;
    @extend .d-block;
  }
  &-image {
    @extend .card;
    height: 350px;
    width: 100%;
    object-fit: cover;
    &:hover,
    &:focus {
      filter: grayscale(0.9);
    }
    @include media-breakpoint-only(xs) {
      height: 242px;
    }
    @include media-breakpoint-only(sm) {
      height: 236px;
    }
    @include media-breakpoint-only(md) {
      height: 210px;
    }
    @include media-breakpoint-only(lg) {
      height: 284px;
    }
    @include media-breakpoint-only(xl) {
      height: 348px;
    }
  }

  // PORTFOLIO ITEM
  &-article {
    .post-meta,
    .toc {
      @extend .col-md-8;
      @extend .px-3;
    }

    p,
    ul,
    ol,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @extend .col-12;
      @extend .col-md-8;
      @extend .mx-auto;
    }

    ul,
    ol {
      padding-left: 40px;
    }

    img {
      @extend .mx-auto;
      box-shadow: none !important;
    }
  }
}
