.post {
  &-meta {
    @extend .d-flex;
    @extend .flex-column;
    @extend .justify-content-center;
    @extend .align-items-center;
    @extend .col-12;
    @extend .px-0;
    @extend .mx-auto;
    &-time {
      @extend .flex-column;
      @extend .flex-md-row;
      @extend .text-center;
      @extend .text-md-left;
      @extend .d-flex;
      @extend .justify-content-between;
      @extend .py-3;
      @extend .mt-5;
      @extend .mb-3;
      @extend .w-100;
      @extend .border-top;
    }
    img {
      @include size(50px, 50px);
      @extend .rounded-circle;
      @extend .d-block;
      @extend .mx-auto;
      @extend .my-0;
      &:hover {
        box-shadow: 0 0 0 10px rgba(20, 121, 121, 0.5) !important;
      }
    }
  }
  &-container {
    @extend .list-unstyled;
  }
  h1,
  h2,
  h4,
  h5,
  h6 {
    @extend .font-weight-lighter;
    @extend .mt-3;
  }

  &-article {
    @extend .col-md-8;
    @extend .mx-auto;
    @extend .clearfix;
    @extend .px-0;

    p {
      @extend .px-0;
      @extend .col-12;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @extend .col-12;
      @extend .px-0;
      @extend .font-weight-lighter;
      @extend .pt-5;
      @extend .pb-3;
    }

    ul,
    ol {
      padding-left: 40px !important;
      @extend .mx-0;

      li {
        @extend .w-100;
      }
    }

    ul {
      li {
        list-style-type: square !important;
      }
    }
  }
}
