.post {
  &-meta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @extend .col-12;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;

    &-portfolio {
      margin-bottom: 1rem;
    }
    &-time {
      display: flex;
      flex-direction: column;
      text-align: center;
      display: flex;
      justify-content: space-between;
      padding: 1rem 0;
      margin: 3rem 0 1rem;
      width: 100%;
      border-top: 1px solid #dee2e6;

      @include media-breakpoint-up(md) {
        flex-direction: row;
        text-align: left;
      }
    }
    img {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      display: block;
      margin: 0 auto;
      &:hover {
        box-shadow: 0 0 0 10px rgba(20, 121, 121, 0.5) !important;
      }
    }
  }
  &-container {
    padding-left: 0;
    list-style: none;
  }
  h1,
  h2,
  h4,
  h5,
  h6 {
    font-weight: lighter;
    &:not(:first-child) {
      margin-top: 1rem;
    }
  }

  &-article {
    @extend .col-md-8;
    margin-left: auto;
    margin-right: auto;

    @extend .clearfix;
    padding-left: 0;
    padding-right: 0;

    p {
      padding-left: 0;
      padding-right: 0;
      @extend .col-12;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      @extend .col-12;
      padding: 0;
      font-weight: lighter;
      &:not(:first-child) {
        margin-top: 1rem;
      }
    }
    a {
      text-decoration: underline;
      display: inline-block;
    }
    ul,
    ol {
      padding-left: 40px !important;
      margin-left: auto;
      margin-right: auto;
      @extend .my-3;

      li {
        width: 100%;
      }
    }

    ul {
      li {
        list-style-type: square !important;
      }
    }
    img {
      margin: 0 auto;
    }
  }
}

.share {
  a {
    margin: 0px 0.5rem 0 0;
    border: 1px solid #d3d6d2;
    padding: 5px 10px 5px 10px;
    opacity: 0.9;
    font-family: "Nunito", sans-serif;
    font-size: 12px;
    border-radius: 4px;
    &:hover {
      opacity: 1;
    }
    svg,
    img {
      margin-right: 0.3rem;
      display: inline-block;
      height: 1em;
    }
    &.facebook {
      color: #3b5998;
      border-color: #3b5998;
      &:hover,
      &:focus {
        color: #fff;
        background-color: #3b5998 !important;
      }
    }
    &.linkedin {
      color: #0077b5;
      border-color: #0077b5;
      &:hover,
      &:focus {
        color: #fff;
        background-color: #0077b5 !important;
      }
    }
    &.email {
      color: #444444;
      border-color: #444444;
      &:hover,
      &:focus {
        color: #fff;
        background-color: #444444 !important;
      }
    }
    &.twitter {
      color: #4099ff;
      border-color: #4099ff;
      &:hover,
      &:focus {
        color: #fff;
        background-color: #4099ff !important;
      }
    }
  }
}
