.main-container-links {
  @extend .py-3;
  .container {
    @extend .shadow;
    @extend .p-0;
    background: #fff;
  }
  header {
 border-radius: 1rem 1rem 0 0;
    @extend .py-5;
    @extend .px-3;
    color: #fff;
    background: #333;
    text-align: center;
    h1 {
      @extend .display-4;
    }
    p {
      @extend .lead;
    }
    img {
    display: block;
     margin-left: auto; margin-right: auto;
       border-radius: 50%;
    }
  }
}
