.page {
    &__banner {
        img {
            @extend .w-100;
            @extend .img-fluid;
            @extend .rounded;
        }

        figcaption {
            @extend .text-center;
            @extend .small;
            @extend .p-2;
            opacity: .5;
        }
    }

    &__title {
        @extend .display-4;
        @extend .text-center;
        @extend .py-4;
        @extend .h2;
        @extend .font-weight-light;
        @extend .mb-0;

    }

    &__summary {
        @extend .lead;
        @extend .font-italic;
        @extend .text-center;
        height: auto;
        @extend .mx-auto;
        @extend .col-12;
        @extend .col-md-10;
        @extend .mb-5;
    }

    &__content {
        &--blog {
            ul {
                @extend .list-unstyled;

                li {
                    @extend .col-12;
                    @extend .pb-4;

                    p {
                        @extend .mb-0;
                        @extend .text-muted;
                        font-size: .825rem;
                    }

                    strong {
                        font-weight: 600
                    }
                }
            }
        }

        &--arquivo {
            h3 {
                @extend .font-weight-light;
                @extend .text-capitalize;
                @extend .mb-4;
            }

            ul {
                @extend .list-unstyled;

                li {
                    @extend .col-12;
                    @extend .pb-2;
                    @extend .px-0;

                    a {
                        strong {
                            font-weight: 600;
                        }
                    }
                }
            }
        }

    }

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.about {

    &__description,
    &__picture {
        @extend .col-12;
    }

    &__picture {
        @extend .col-md-4;

        img {
            @extend .rounded;
            @extend .img-fluid;
            @extend .m-auto;
            box-shadow: 0 0 0 10px rgba(20, 121, 121, 0.1) !important;
            transform: scaleX(-1);
            height: auto;

            &:hover {
                box-shadow: 0 0 0 10px rgba(20, 121, 121, 1) !important;
                background-size: 110%;
            }
        }
    }

    &__description {
        @extend .col-md-8;

        p {
            @extend .col-12;
        }

        .links__social {
            a {
                @extend .mr-3;

                &:after {
                    @extend .d-none;
                }
            }
        }
    }

    &__id {
        &--name {
            @extend .text-uppercase;
            @extend .d-block;
            font-size: 35px;
        }

        &--title {
            @extend .mt-2;
            @extend .mb-4;
        }



        // &--links {
        //     .links__items {
        //         @extend .ml-0;
        //         @extend .mr-0;

        //         li {
        //             display: block;
        //             @extend .w-100;
        //             @extend .mb-2;

        //             &.links__item--social {
        //                 float: left;
        //                 @extend .mr-3;
        //                 @extend .my-2;
        //                 width: 22px !important;

        //                 i {
        //                     font-size: 22px
        //                 }
        //             }

        //             a {
        //                 &:before {
        //                     fill: currentColor;
        //                     color: red;
        //                 }

        //                 &:hover {
        //                     &:after {
        //                         @extend .d-none;
        //                     }
        //                 }
        //             }
        //         }
        //     }


        // }
    }



    &__description--jobs {
        @extend .col-12;

        h2 {
            @extend .col-12;
            @extend .px-0;
            font-size: 20px;

            &:after {
                @extend .position-relative;
                @extend .d-block;
                @extend .w-100;
                content: "";
                height: 1px;
                background: rgba(0, 0, 0, 0.1);
                bottom: -5px;
            }
        }

        details {
            span.text-muted {
                @extend .small;
                @extend .float-right;
            }
        }
    }
}

.links__social--linkedin {
    img {
        @extend .shadow-none;
        @extend .d-inline-block;
        @extend .my-2;
        width: 88px;
        height: 22px;
    }
}
