@keyframes pulso {
    0% {
        transform: scale(0.8)
    }

    100% {
        transform: scale(1)
    }
}


.footer {
    @extend .position-relative;
    @extend .row;
    @extend .ml-0;
    @extend .mr-0;
    @extend .small;
    @extend .pt-5;
    @extend .mt-5;

    .amor {
        animation: pulso 1.0s infinite alternate;
    }

    &:before {

        @extend .position-absolute;
        content: "";
        width: calc(100% - 30px);
        height: 1px;
        background: #ddd;
        margin-left: 15px;
        margin-right: 15px;
    }

    &--left,
    &--right {
        @extend .py-4;
        @extend .text-center;
        @extend .col-12;
        @extend .col-md-6;
    }

    &--left {
        @extend .text-md-left;
        @extend .pb-0;
    }

    &--right {
        @extend .text-md-right;
    }
}