<aside class="post-sidebar">

  


    {% if page.comments %}
    <div class="comment-area">
        <input id="comment-input" class="comment-input" type="checkbox">
        <label for="comment-input" class="comment-button">Curtiu o texto? 😚 Me dê seu feedback!</label>
        <div class="comment-list" id="disqus_thread"></div>
        <noscript>Ative o JavaScript para visualizar os comentários do <a href="http://disqus.com/?ref_noscript">Disqus.</a></noscript><a href="http://disqus.com" class="dsq-brlink">Sistemas de comentários por <span class="logo-disqus">Disqus</span></a>
    </div>
    {% endif %}


</aside>