<aside class="post-sidebar">
    {% if page.comments %}<div class="comment_area">
        <button class="comment-button" type="button" data-toggle="collapse" data-target="#comments" aria-expanded="false" aria-controls="comments">Curtiu o texto? 😚 Me dê seu feedback!</button>
        <div class="collapse" id="comments">
            <div id="disqus_thread"></div><noscript>Ative o JavaScript para visualizar os comentários do <a href="http://disqus.com/?ref_noscript">Disqus.</a></noscript><a href="http://disqus.com" class="dsq-brlink">Sistemas de comentários por <span class="logo-disqus">Disqus</span></a>
        </div>
    </div>{% endif %}
</aside>