<div id="share-box">
    <a href="https://www.facebook.com/sharer/sharer.php?u=http://sumo.pe{{ page.url }}" class="facebook share-button">
        <img src="../../img/social/icone-facebook.svg" alt="Email"> Facebook</a>
    <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url=http://sumo.pe{{ page.url }}" class="twitter share-button">
        <img src="../../img/social/icone-twitter.svg" alt="Email"> Twitter</a>
    <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://sumo.pe{{ page.url }}&title={{ page.title }}&summary={{ page.description }}&source=webjeda" class="linkedin share-button">
        <img src="../../img/social/icone-linkedin.svg" alt="Email"> LinkedIn
    </a>
    <a href="mailto:?subject={{ page.title }}&amp;body=Para seu conhecimento: http://sumo.pe{{ page.url }}" class="email share-button">
        <img src="../../img/social/icone-arroba.svg" alt="Email"> Email
    </a>
</div>