.post {
  &-sidebar {
    @extend .col-12;
    @extend .col-md-8;
    margin: 3rem auto 0;
    padding: 3rem 0 0 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.aside {
  &-portfolio {
    @extend .col-12;
    @extend .col-md-8;
    margin: 3rem auto 0;

    &:before {
      background: none;
      font-size: 2rem;
      font-weight: 100;
      letter-spacing: 1em;
      padding-left: 1em;
      width: 100%;
      content: "* * * ";
    text-align: center;
      padding: 3rem;
      @extend .d-block;
    }

    ul {
      li {
        display: inline;

        &:first-child {
          font-weight: 700;
        }
      }
    }
  }

  &-tools {
    li {
      margin-right: 0.5rem;
      img {
        width: 24px;
        height: 24px;
      }
    }
  }

  &-areas {
    li {
      &:after {
        content: ",";
      }

      &:nth-last-child(2) {
        &:after {
          content: "";
        }
      }

      &:first-child {
        &:after {
          content: "";
        }
      }

      &:last-child {
        &:before {
          content: " e ";
        }

        &:after {
          content: ".";
        }
      }
    }
  }
}
