button.btn {
  &--vcard {
    @extend .btn;
    @extend .btn-outline-primary;
    border-color: var(--main-color);
    color: var(--main-color);
    transition: none;

    &:hover,
    &:active,
    &:focus {
      background-color: var(--main-color) !important;
      border-color: var(--main-color) !important;
      color: #fff !important;
      box-shadow: 0 0 0 0.2rem var(--main-color) !important;
    }
  }
}
