button.btn {
  &--vcard {
    @extend .btn;
    border: 1px solid var(--main-color);
    @extend .px-3;
    @extend .py-2;
    @extend .rounded;
    color: var(--main-color);
    transition: none;

    &:hover,
    &:active,
    &:focus {
      background-color: var(--main-color) !important;
      border-color: var(--main-color) !important;
      color: #fff !important;
      box-shadow: 0 0 0 0.2rem var(--main-color) !important;
    }
  }
}