.disqus-placeholder.is-hidden {
  display: none;
}

.comment {
  &-area {
    @extend .position-relative;
    @extend .my-4;
  }
  &-button {
    padding: 8px 24px;
    border-width: 0;
    background: #f1f1f1;
    @extend .btn;
    border-width: 0;
        border-radius: 50rem;
    background: #f1f1f1;
  }
  &-input[type="checkbox"] {
    display: none;
  }
  &-list {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;
  }
  &-input:checked + &-button {
    background: $main-color;
    color: #fff;
  }

  &-input:checked + &-button + &-list {
    max-height: none;
  }
}
