.modal-dialog {
  @extend .modal-dialog-centered;

  &.modal-image {
    img {
     max-width: 100%;
    height: auto;
         border-radius: .25rem;
    display: block;
     margin-left: auto; margin-right: auto;
    }
  }
}

img[data-toggle="modal"] {
  &:hover {
    cursor: pointer;
  }
}

.modal-backdrop.show {
  opacity: 0.85;
  // background-color: $main-color;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 1000px;
    margin: auto;
  }
}
