.menu {
  @extend .d-flex;
  overflow-x: auto;
  width: 100%;
  justify-content: flex-end;
  @include media-breakpoint-down(md) {
    justify-content: space-between;
  }
  &-item {
    padding: 0.5rem;
  text-align: center;
    border-bottom: 1px solid transparent;
    &:hover {
      color: $main-color;
    }
    &-active {
      border-bottom-color: $main-color;
      color: $main-color;
    }
  }
}

.breadcrumbs {
  padding-bottom: 2rem;

  .divider {
    color: #6c757d;
    padding: 0 0.5rem;
    opacity: 0.5;
  }
  .breadcrumb-current {
    color: #6c757d;
  }
}
