.section {
  &-link {
    font-weight: 600;
    display: inline-block;
    padding-top: calc($space * 4);
  }
  &-about {
    @extend .row;
    align-items: center;
    &-info {
      @include media-breakpoint-down(md) {
        order: 2;
      }
      @include media-breakpoint-up(md) {
        order: 1;
      }

      h2 {
        font-size: calc(1.525rem + 2vw);
        font-weight: 600;
        margin: 2.5rem 0 1.25rem !important;
      }
    }
    &-info,
    &-picture {
      @extend .col-12;
      @extend .col-md;
    }
    &-picture {
      @include media-breakpoint-down(md) {
        order: 1;
      }
      @include media-breakpoint-up(md) {
        order: 2;
      }
      img {
        max-width: 100%;
        border-radius: 0.25rem;
        display: block;
        margin: 0 auto;
        &:hover,
        &:focus {
          filter: grayscale(0.9);
        }
      }
    }
  }
  &-title {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: calc(var(--space) * 2.5);
  }

  &-description {
    color: #6c757d;
    font-size: 0.875em;
    justify-content: space-between;
    display: flex;
  }
}
.post-link {
  padding-bottom: 2.5rem;
  position: relative;
  display: block;
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    content: "";
    width: 100%;
    height: 100%;
  }
  &-titulo {
    @extend .card-title;
  }
  &-descricao {
    @extend .card-text;
    margin-bottom: 0;
    color: #6c757d;
    font-size: 0.825rem;
  }
  &-img {
    @extend .rounded;
    @extend .mb-3;
    height: 200px;
    background-size: cover !important;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
  }
  strong {
    font-weight: 600;
  }
}
