@media screen and (min-width: 576px) {
  table.processo-criacao th:first-child,
  table.processo-criacao th:last-child,
  table.processo-criacao td:first-child,
  table.processo-criacao td:last-child {
    width: 20%;
  }
  table.benchmark th:first-child,
  table.benchmark td:first-child {
    width: 30%;
  }
}
@media screen and (max-width: 575px) {
  table.processo-criacao th:first-child,
  table.processo-criacao th:last-child,
  table.processo-criacao td:first-child,
  table.processo-criacao td:last-child {
    width: 100%;
  }
  table.benchmark th:first-child,
  table.benchmark td:first-child {
    width: 100%;
  }
}
ul.nav-pills li a,
ul.nav-pills li {
  display: inline-block !important;
  width: auto !important;
}
ul.nav-pills li a.active {
  color: #fff !important;
  background-color: #147979 !important;
}
iframe {
  max-width: 100%;
}
