nav.toc {
  @extend .col-12;
  padding: 1rem;
  margin: 0 auto 1rem;

  box-shadow: none;
  border-radius: .25rem;
  border: 1px solid #dee2e6;
  i {
    font-style: initial;
    font-size: 2rem;
    font-weight: lighter;
   display:block;
  }
  ul,
  ol {
    @extend .col-12;
    padding: 0 0 0 24px !important;
    margin-bottom: 0;
    list-style: decimal;
    li {
      width: 100%;
      margin: 0;
      a {
        font-weight: normal;
      }

      & > ol {
        padding-top: 0;
        list-style: lower-alpha;
        & > li > ol {
          list-style: lower-roman;
        }
      }
    }
  }
}
