---
layout: default
---

{% if page.image %}
<figure class="page-banner">
    <img src="{{site.url}}/{{page.image}}" alt="{{page.alt}}">
    {% if page.legend %}
    <figcaption>
        {{page.legend}}
    </figcaption>
    {% else %}
    {% endif %}
</figure>
{% else %}
{% endif %}

<header class="section-header">
    <h2 class="section-name page-title">
        {{ page.title }}
    </h2>
    {% if page.summary %}
    </h2>
    <p class="section-description page-summary">
        {{page.summary}}
    </p>
    {% else %}
    {% endif %}
</header>

{% if page.full-width == false %}
<article class="post-content col-12 col-md-8 mx-auto">
    {%else%}
    <article class="post-content">
        {% endif%}

        {{ content }}
    </article>