---
layout: default
---

{% if page.image %}
<figure class="layout-banner">
    <img src="{{site.url}}/{{page.image}}" title="{{page.title}}" alt="{{page.alt}}">
    {% if page.legend %}
    <figcaption>
        {{page.legend}}
    </figcaption>
    {% else %}
    {% endif %}
</figure>
{% else %}
{% endif %}
<section class="section-page">
    <header class="section-header">
        <h2 class="section-title">{{ page.title }}</h2>
        {% if page.summary %}<p class="section-description"> {{page.summary}}</p>{% else %}{% endif %}
    </header>
    <div class="col-12 {% if page.full-width == false %}col-md-8{% endif%} mx-auto">
        {{ content }}

</section>