---
layout: default
---

<figure class="page__banner">
  <img src="{{page.image}}" class="{{page.alt-image}}">
  {% if page.legend-image %}<figcaption>{{page.legend-image}}</figcaption>{% else %}{% endif %}
</figure>

<div class="conteudo">
  <h2 class="page__title">{{ page.title }}</h2>
  <p class="page__summary">{{page.summary}}</p>

  <div class="post__meta">
    <img class="post__meta--picture" title="Conteúdo produzido por Wagner Beethoven"
      src="https://s.gravatar.com/avatar/299f64695797b6afe2d7e2405bd7c860?s=75">

  </div>
  <article class="post__article">
    {{ content }}
  </article>

  {% include aside.html %}


  <div class="top">
    <a href="#top">[Top]</a>
  </div>
</div>