---
layout: default
---
<iframe class="speakerdeck-iframe" frameborder="0" src="{{page.iframe}}" title="Hackathon como ferramenta de desenvolvimento e integração de times" allowfullscreen="true" style="border: 0px; background: padding-box padding-box rgba(0, 0, 0, 0.1); margin: 0px; padding: 0px; border-radius: 6px; box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 40px; width: 100%; height: auto; aspect-ratio: 560 / 315;" data-ratio="1.7777777777777777"></iframe>
<article id="content" class="pt-4">
    <h1 class="page-title fw-semibold mb-5">
        {{page.title}}
    </h1>
    {% include meta.html %}


        {{content}}

    {% include footer-content.html %}
    {% include related.html %}
</article>