---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
templateEngine: njk
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">

  {# Static pages #}
  {% set staticPages = [
    { url: "/", priority: "1.0", changefreq: "weekly" },
    { url: "/about/", priority: "0.8", changefreq: "monthly" },
    { url: "/now/", priority: "0.8", changefreq: "weekly" },
    { url: "/contact/", priority: "0.6", changefreq: "yearly" },
    { url: "/blog/", priority: "0.9", changefreq: "daily" },
    { url: "/notes/", priority: "0.9", changefreq: "daily" },
    { url: "/poetry/", priority: "0.7", changefreq: "weekly" },
    { url: "/recipes/", priority: "0.7", changefreq: "monthly" },
    { url: "/photos/", priority: "0.7", changefreq: "monthly" },
    { url: "/bookshelf/", priority: "0.6", changefreq: "monthly" },
    { url: "/movies/", priority: "0.6", changefreq: "monthly" },
    { url: "/series/", priority: "0.6", changefreq: "monthly" },
    { url: "/games/", priority: "0.6", changefreq: "monthly" },
    { url: "/comics/", priority: "0.6", changefreq: "monthly" },
    { url: "/music/", priority: "0.6", changefreq: "monthly" },
    { url: "/archive/", priority: "0.7", changefreq: "weekly" },
    { url: "/tags/", priority: "0.6", changefreq: "weekly" },
    { url: "/links/", priority: "0.5", changefreq: "monthly" },
    { url: "/blogroll/", priority: "0.5", changefreq: "monthly" },
    { url: "/portfolio/", priority: "0.7", changefreq: "monthly" },
    { url: "/resume/", priority: "0.7", changefreq: "monthly" },
    { url: "/uses/", priority: "0.6", changefreq: "monthly" },
    { url: "/values/", priority: "0.6", changefreq: "yearly" },
    { url: "/why/", priority: "0.6", changefreq: "yearly" },
    { url: "/slashes/", priority: "0.5", changefreq: "monthly" },
    { url: "/stats/", priority: "0.5", changefreq: "weekly" },
    { url: "/changelog/", priority: "0.5", changefreq: "monthly" },
    { url: "/colophon/", priority: "0.4", changefreq: "yearly" },
    { url: "/accessibility/", priority: "0.4", changefreq: "yearly" },
    { url: "/feed/", priority: "0.4", changefreq: "yearly" },
    { url: "/guestbook/", priority: "0.4", changefreq: "monthly" },
    { url: "/busca/", priority: "0.4", changefreq: "yearly" }
  ] %}
  {% for p in staticPages %}
  <url>
    <loc>{{ site.url }}{{ p.url }}</loc>
    <changefreq>{{ p.changefreq }}</changefreq>
    <priority>{{ p.priority }}</priority>
  </url>
  {% endfor %}

  {# Blog posts #}
  {% for item in collections.posts | default([]) %}
  <url>
    <loc>{{ site.url }}{{ item.url }}</loc>
    <lastmod>{{ item.date | htmlDateString }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>0.7</priority>
  </url>
  {% endfor %}

  {# Notes #}
  {% for item in collections.notes | default([]) %}
  <url>
    <loc>{{ site.url }}{{ item.url }}</loc>
    <lastmod>{{ item.date | htmlDateString }}</lastmod>
    <changefreq>never</changefreq>
    <priority>0.4</priority>
  </url>
  {% endfor %}

  {# Poetry #}
  {% for item in collections.poetry | default([]) %}
  <url>
    <loc>{{ site.url }}{{ item.url }}</loc>
    <lastmod>{{ item.date | htmlDateString }}</lastmod>
    <changefreq>never</changefreq>
    <priority>0.5</priority>
  </url>
  {% endfor %}

  {# Recipes #}
  {% for item in collections.recipes | default([]) %}
  <url>
    <loc>{{ site.url }}{{ item.url }}</loc>
    <lastmod>{{ item.date | htmlDateString }}</lastmod>
    <changefreq>never</changefreq>
    <priority>0.5</priority>
  </url>
  {% endfor %}

  {# Tags #}
  {% for tag in collections.tagList | default([]) %}
  <url>
    <loc>{{ site.url }}/tags/{{ tag | slug }}/</loc>
    <changefreq>weekly</changefreq>
    <priority>0.4</priority>
  </url>
  {% endfor %}

</urlset>
