---
layout: default
title: Sobre
permalink: about
description: 'Conheça todo o background do Designer'
---

<div class="column-container">
    <div class="column-nav">
        <div>
            <div class="picture-author ">
                <img title="Wagner Beethoven" src="{{site.url}}/{{site.avatar}}" alt="{{site.alt}}">
            </div>
            <nav aria-labelledby="anchor-menu">
                <a accesskey="7" title="ir para a introdução" href="#intro">{{page.title}}</a>
                <a accesskey="8" title="ir para a escolaridade" href="#education">Escolaridade</a>
                <a title="ir para os detalhes pessoais" href="#detail">Detalhes pessoais</a>
                <a accesskey="9"  title="ir para as experiência profissional" href="#experience">Experiência Profissional</a>
                <a title="ir para os trabalhos voluntários" href="#voluntary">Trabalhos voluntários</a>
                <a accesskey="0"title="ir para as certificações" href="#certification">Certificações</a>
                <a  title="ir para os cursos" href="#course">Cursos</a>
            </nav>
        </div>
    </div>
    <!-- {{ site.data.education.education[0].name }} -->
    <div class="column-content" id="anchor-menu">
        <section id="intro" class="section-intro">
            <h2 class="section-title">{{page.title}}</h2>
            <p> Me chamo <strong>Wagner Beethoven</strong> (de batismo) , um belo nome, mas muito extenso, por isso resolvi criar um site com o nome mais curto (<a href="https://wagnerbeethoven.medium.com/refiz-meu-portfolio-mais-uma-vez-f3caadb61052#0c65" title="{{site.warning}}" target="_blank">maiores explicações</a>) e nele mostrar meu trabalho. Tenho por volta dos trinta anos, atualmente trabalho na <strong>{{ site.data.experience.experience[0].company }}</strong> como <strong>{{ site.data.experience.experience[0].name }}</strong>.</p>
            <p>Resido em Olinda, Pernambuco.</p>
            <p>A carreira começou ainda em 2005 quando comecei um projeto junto com um amigo sobre música, foram madrugadas sem dormir estudando HTML, CSS e padrões Web. Depois de cursar Ciências Biológicas, abandonei tudo e resolvi fazer o que todos os amigos falavam para eu fazer: Design. Sou tecnólogo em <strong>Sistemas para Internet</strong> pela Uninassau, especialista em <strong>Design de Web Apps com Tecnologia Front-End</strong> (Unibratec) e em <strong>Design de Interação para Artefatos Digitais</strong> (Cesar School).</p>
            <p> Tenho aproximadamente 10 anos desenvolvendo aplicativos, sites e sistemas para <span lang="en">desktop</span>, celulares, <span lang="en">tablet</span> e televisores que ajudaram empresas de porte e seguimentos diversos, onde posso destacar Carrefour, Light, Grupo Ser Educacional, Unimed (diversos estados), Banco Itaú, Celpe, Cemig.</p>
            <p>Abaixo você terá mais detalhes sobre meu background e minha carreira. Você pode visualizar <a title="Acesse meus trabalhos no Behance ({{site.warning}})" href="https//be.net/wagnerbeethoven"><strong>meu portfólio no Behance</strong></a> (não estarão todos já que a maioria foi construído através de contrato confidencialidade e sigilo) e meus <a title="Acesse meu textos no Medium ({{site.warning}})" href="{{site.medium}}"><strong>textos disponíveis no Medium</strong></a>.</p>
        </section>

        <section id="detail" class="section-detail">
            <h2 class="section-title">Detalhes pessoais</h2>
            <ul class="about-list">
                <li>Email:&nbsp; {{site.email}}</li>
                <li>Telefone:&nbsp;&nbsp; {{site.tel}}</li>
                <li>Localidade:&nbsp;<strong>Olinda &mdash; PE &bull; Brasil</strong></li>
                <li>Links:&nbsp;<a title="Acesse meu LinkedIn" href="{{site.linkedin}}" target="_blank"><strong>LinkedIn</strong></a>&nbsp;/&nbsp;<a title="Acesse meu Behance" href="{{site.behance}}" target="_blank"><strong>Behance</strong></a>&nbsp;/&nbsp;<a title="Acesse meu Github" href="{{site.github}}" target="_blank"><strong>Github</strong></a>&nbsp;/&nbsp;<a title="Acesse meu Medium" href="{{site.medium}}" target="_blank"><strong>Medium</strong></a></li>
            </ul>
        </section>
        
        <section id="education" class="section-education">
            <h2 class="section-title">Escolaridade</h2>
            <ul class="about-list">
                {% for education in site.data.education.education %}
                <li id="{{education.name|slugify}}">
                    <div class="career-logo">
                        <img src="{{site.url}}/{{education.logo}}" title="{{education.company}}" alt="Logo {{education.company}}">
                    </div>
                    <div class="career-detail">
                        {% if education.name %}<h3 class="career-activity">{{education.name}}</h3>{% endif %}
                        {% if education.company %}<h4 class="career-company">{{education.company}}</h4>{% endif %}
                        {% if education.date %}<small class="career-date">{{education.date}}</small>{% endif %}
                        {% if education.description %}<p class="career-description">{{education.description}}</p>{% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </section>

        <section id="experience" class="section-experience">
            <h2 class="section-title">Experiência Profissional</h2>
            <ul class="about-list">
                {% for experience in site.data.experience.experience %}
                <li id="{{experience.company|slugify}}">
                    <div class="career-logo">
                        <img src="{{site.url}}/{{experience.logo}}" title="{{experience.company}}" alt="Logo {{experience.company}}">
                    </div>
                    <div class="career-detail">
                        {% if experience.name %}<h3 class="career-activity">{{experience.name}}</h3>{% endif %}
                        {% if experience.company %}<h4 class="career-company">{{experience.company}}</h4>{% endif %}
                        {% if experience.date %}<small class="career-date">{{experience.date}}</small>{% endif %}
                        {% if experience.description %}<p class="career-description">{{experience.description}}</p>{% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
            <hr>

            <h5 class="section-title" id="voluntary">Trabalhos voluntários</h5>
            <ul class="about-list">
                {% for experience in site.data.voluntary.experience %}
                <li id="{{experience.company|slugify}}">
                    <div class="career-logo">
                        <img src="{{site.url}}/{{experience.logo}}" title="{{experience.company}}" alt="Logo {{experience.company}}">
                    </div>
                    <div class="career-detail">
                        {% if experience.name %}<h3 class="career-activity">{{experience.name}}</h3>{% endif %}
                        {% if experience.company %}<h4 class="career-company">{{experience.company}}</h4>{% endif %}
                        {% if experience.date %}<small class="career-date">{{experience.date}}</small>{% endif %}
                        {% if experience.description %}<p class="career-description">{{experience.description}}</p>{% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>

        </section>

       
        <section id="certification" class="section-certification">
            <h2 class="section-title">Certificações</h2>
            <ul class="about-list">
                {% for certification in site.data.certification.certification %}
                <li id="{{certification.name|slugify}}">
                    <div class="career-logo">
                        <img src="{{site.url}}/{{certification.logo}}" title="{{certification.company}}" alt="Logo {{certification.name}}">
                    </div>
                    <div class="career-detail">
                        {% if certification.name %}<h3 class="career-activity">{{certification.name}}</h3>{% endif %}
                        {% if certification.company %}<h4 class="career-company">{{certification.company}}</h4>{% endif %}
                        {% if certification.date %}<small class="career-date">{{certification.date}}</small>{% endif %}
                        {% if certification.description %}<p class="career-description">{{certification.description}}</p>{% endif %}
                    </div>
                </li>
                {% endfor %}
            </ul>
        </section>

        <section id="course" class="section-course">
            <h2 class="section-title">Cursos</h2>
            <div class="about list">
                {% include course.html %}
            </div>
        </section>
    </div>
</div>