---
layout: page
title: Portfólio
permalink: portfolio
image: "img/page/portfolio.jpg"
alt: "Wagner está sentando com as duas mãos na mesa olhando para uma tela de laptop. Na mesa está um caso de plantas e um fone. Acima de sua cabeça há uma luminária. Toda a foto é preta e branca, exceto pelas flores do vaso e a parte interna da luminária que são amarelas."
legend: "Olinda / 9 de setembro de 2018"
summary: Confira todos meus meus trabalhos
---
<section class="portfolio-container">
    {% for post in site.categories.portfolio%}
    {% include portfolio/portfolio-list.html %}
    {% endfor %}
</section>