.article {
    @extend .col-12;
    @extend .col-md-9;
    @extend .pt-5;

    &-content {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 4rem 0 1rem;
            font-weight: 400;
        }

        h1 {
            font-size: 2.488rem;
        }

        h2 {
            font-size: 2.074rem;
        }

        h3 {
            font-size: 1.728rem;
        }

        h4 {
            font-size: 1.528rem;
        }

        h5 {
            font-size: 1.34rem;
        }

        h6 {
            font-size: 1.2rem;
        }

        figure {
            width: 100% !important;
            display: inline-block;

            img {
                @extend .rounded;
                @extend .img-fluid;
                margin-bottom: 0.5rem;
                line-height: 1;
                height: auto;
            }
        }

        p {
            &:first-child {
                @extend .lead;
            }
        }

        blockquote {
            @extend .blockquote;
            padding: 10px 20px;
            border-left: 5px solid #ccc;

            footer {
                @extend .blockquote-footer;
                font-size: 0.85rem;
            }
        }

        ul,
        ol {
            margin: 20px 0;
            padding-left: 20px;

            li {
                margin-bottom: 10px;
            }
        }
    }
}


@media (max-width: 768px) {
    .article-content {
        h1 {
            font-size: 2.5rem;
        }

        h2 {
            font-size: 1.65rem;
        }

        h3 {
            font-size: 1.02rem;
        }

        h4 {
            font-size: 0.63rem;
        }

        h5 {
            font-size: 0.39rem;
        }

        h6 {
            font-size: 0.24rem;
        }
    }
}