.header {
  &-site {
  }
  &-index{  }
  &-page {
    @extend .d-flex;
    @extend .flex-column;
    @extend .flex-md-row;
    @extend .z-3;
    margin-bottom: -6rem;
  }
  &-description {
    @extend .flex-grow-1;
    @extend .mt-3;
    @extend .mt-md-0;
    @extend .ms-md-3;
  }
}

.site-logo {
  z-index: 3;
  position: relative;
  width: 13rem !important;
  height: 13rem;
  box-shadow: 0 0 0 10px #fff;
  @extend .rounded-circle;
@extend .mb-4;
  & > a {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  & figure {
    @extend .ratio;
    @extend .ratio-1x1;
    @extend .rounded-circle;

    & img {
      @extend .object-fit-cover;
      @extend .border;
      @extend .rounded-circle;
    }
  }
  a.translate {
    width: 2rem;
    height: 2rem;
    left: 3rem !important;
    @extend .position-absolute;
    @extend .border;
    @extend .shadow-sm;
    @extend .bottom-0;
    @extend .translate-middle;
    @extend .bg-white;
    @extend .py-1;
    @extend .px-2;
    @extend .border;
    @extend .border-light;
    @extend .rounded-circle;
  }
  &-page {
    @extend .flex-shrink-0;
  }
}
.site-name {
  &-page {
    @extend .h2;
    @extend .page-title;
    margin-bottom: 0 !important;
  }
}
