// Error page
@keyframes type {
    from {
        box-shadow: inset -3px 0 0 #888;
    }

    to {
        box-shadow: inset -3px 0 0 transparent;
    }
}

// Green light
@keyframes glow {
    0% {
        box-shadow: 0 0 0 1px var(--bs-success);
    }

    50% {
        box-shadow: 0 0 0 2px var(--bs-success);
    }

    100% {
        box-shadow: 0 0 0 1px var(--bs-success);
    }
}