// Contact
.green-light {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    float: left;

    &:after {
        content: "";
        position: absolute;
        width: 5px;
        height: 5px;
        background-color: var(--bs-success);
        border-radius: 50%;
        animation: glow 1s infinite ease-in-out;
    }
}


// About


.accordion {
    &-collapse {
        background: var(--color-primary);
    }

    &-button {
        box-shadow: none;

        &:after {
            content: "Visualizar";
            text-transform: uppercase;
            font-size: 0.825em;
            transform: none;
            background: none !important;
            width: auto;
        }

        &:not(.collapsed) {

            color: #fff;

            &:after {
                content: "Fechar";
                transform: none;
            }
        }
    }

}


.career-list p {
    font-size: 0.875rem;
  }