.share {
  @extend .list-unstyled;
  @extend .list-inline;
  margin-bottom: 0;
  li {
    @extend .me-3;
    display: inline-block;
    margin-bottom: 1rem;
    a {
      text-decoration: none;
      color: #fff;
      padding: 0.5rem 1rem;
      font-size: 0.85rem;
      border-radius: 0.25rem;
      border: 1px solid transparent;
      display: inline-block;
      span {
        @extend .me-2;
      }
      &:after {
        display: none;
      }
      &.facebook {
        background-color: #3b5998;
      }
      &.twitter {
        background-color: #55acee;
      }
      &.linkedin {
        background-color: #0077b5;
      }
      &.pinterest {
        background-color: #cb2027;
      }
      &.mail {
        background-color: #444;
      }
      &:hover {
        border-color: var(--color-primary);
        background: #fff;
        color: var(--bs-body-color);
      }
    }
  }
}
